In [1]:
import sqlalchemy
import pandas as pd
from datetime import datetime
import glob
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql

In [2]:
# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')
pgdbConnection    = engine.connect()

#connection to use with raw sql
connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

In [3]:
%%time
# Wall time: 1min 24s


tableName = "credit_staging"  

date_now=dt.datetime.today().strftime("%Y-%m-%d")
sql='select * from '+tableName+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\''
print(sql)
df_all_year_in_base =  pd.read_sql(sql, con=pgdbConnection)
print(df_all_year_in_base.shape)

select * from credit_staging where  ordering_date >= '2020-01-01' and ordering_date <= '2021-08-20'
(368920, 30)
CPU times: user 7.69 s, sys: 1.22 s, total: 8.91 s
Wall time: 9.51 s

In [4]:
%%time
bkp_table = 'bkp_'+tableName

with engine.connect() as connection:
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+';')
    connection.execute('CREATE TABLE '+bkp_table+' as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+' SELECT * FROM '+tableName+';')
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+'2;')
    connection.execute('CREATE TABLE '+bkp_table+'2 as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+'2 SELECT * FROM '+tableName+';')
df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)

CPU times: user 474 ms, sys: 4.78 ms, total: 479 ms
Wall time: 8.56 s

In [5]:
%%time
# Пример пути all_files = glob.glob("F:/anamnez/in/**/ПЗ*.csv", recursive=True)
#pathes=["F:/anamnez/in/2020.03.20/**/ПЗ*.csv","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/ПЗ*.csv","F:/anamnez/in/2020.08.12/15/**/*реалізація*.xlsx","F:/anamnez/in/2020.08.12/46/**/*реалізація*.xlsx"]
#pathes=["F:/anamnez/in/2020.08.12/46/**/41189553 реалізація*.xlsx","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/пз 41189553.csv",]
#pathes=["F:/anamnez/in/2020.11.09/DropMeFiles_MGyKv/**/*реалізація*.xlsx"]
pathes=["/home/das/db_develop/nalog_copy/2021.08.19/вх50/*.xls"]
for pth in pathes:
    all_files = glob.glob(pth, recursive=True)
    files_count=len(all_files)
    counter=0
    for filename in all_files:
        counter+=1
        print("####### "+str(counter)+"/"+str(files_count)+" Work with " + filename +": ")
        if (filename.find('.csv')>0):
            print("Read csv file")
            frame = pd.read_csv(filename, engine="python", encoding="cp1251", sep=';', decimal=",")
            frame['Дата виписки'] = pd.to_datetime(frame['Дата виписки'],format='%d.%m.%Y', errors='raise')
        else:
            print("Read excel file")
            if (filename.find('.xls')>0):
                frame = pd.read_excel(filename)
            else:
                print("Wrong file type")
                exit()

        frame['Дата виписки'] = frame['Дата виписки'].dt.strftime('%Y-%m-%d')
        frame = frame.rename(columns={ \
                                      "Область (Продавець)": "Регіон (Продавець)", \
                                      "Податковий № (Продавець)": "Податковий номер (Продавець)", \
                                      "Область (Покупець)": "Регіон (Покупець)", \
                                      "Податковий № (Покупець)":"Податковий номер (Покупець)", \
                                      "Реєстраційний №":"Реєстр. номер у ЄРПН", \
                                      "Номер ПН/РК":"№ ПН","Ціна постачання одиниці товару / послуги без урахування податку на додану вартість":"Ціна постачання одиниці товару/послуги без ПДВ"})
        frame_rows_orig = frame.shape[0]
        frame.drop_duplicates(subset=['Податковий номер (Продавець)', 'Податковий номер (Покупець)', 'Реєстр. номер у ЄРПН', 'Номенклатура товарів/послуг','Кількість (об’єм , обсяг)','Ціна постачання одиниці товару/послуги без ПДВ'])
        frame_rows_nodup = frame.shape[0]
        print("Deleted " + str(frame_rows_orig - frame_rows_nodup)  +  " duplicates in current file")
        if 'Статус ПН/РК' in frame.columns:
            frame.drop('Статус ПН/РК', axis=1, inplace=True)
        if 'Виключено' in frame.columns:
            frame.drop('Виключено', axis=1, inplace=True)
        if 'Обсяги постачання (база оподаткування) без урахування податку на додану вартість' in frame.columns:    
            frame.drop('Обсяги постачання (база оподаткування) без урахування податку на додану вартість', axis=1, inplace=True)
        if 'Обсяг операцій за ставкою 14%' in frame.columns:   
            frame.drop('Обсяг операцій за ставкою 14%',axis=1, errors='ignore', inplace=True)
        if 'Статус за СМКОР' in frame.columns:    
            frame.drop('Статус за СМКОР',axis=1, errors='ignore', inplace=True)
        print("Rows count: "+ str(len(frame['Дата виписки']))+" in current file")
        frame = frame.rename(columns={
                'Iдентифікатор документа': 'doc_id',
            	'Регіон (Продавець)':'seller_region',
                'Район (Продавець)':'seller_rayon',
                'Податковий номер (Продавець)': 'seller_edrpou',
                'ІПН (Продавець)': 'seller_ipn',
                'Найменування/ПІБ (Продавець)': 'seller_name',
                'Стан (Продавець)': 'seller_state',
                'Регіон (Покупець)': 'buyer_region',
                'Район (Покупець)': 'buyer_rayon',
                'Податковий номер (Покупець)': 'buyer_edrpou',
                'ІПН (Покупець)': 'buyer_ipn',
                'Найменування/ПІБ (Покупець)': 'buyer_name',
                'Стан (Покупець)': 'buyer_state',
                'Реєстр. номер у ЄРПН': 'reestr_number',
                '№ ПН': 'nn_number',
                'Дата виписки': 'ordering_date',
                'Дата реєстрації': 'registration_date',
                'Загальна сума коштів що підлягає сплаті': 'total_pay_cost',
                'Сума ПДВ': 'pdv_summ',
                'Обсяг операцій за ставкою 20%': '20_percent_count',
                'Обсяг операцій за ставкою 7%': '7_percent_count',
                'Кількість РК': 'rk_count',
                'Сума коригування': 'correction_cost',
                'Ціна постач.одиниці РК': 'one_rk_cost',
                'Номенклатура товарів/послуг': 'product_name',
                'Код УКТЗЕД': 'product_code',
                'Одиниця виміру товару/ послуги': 'unit',
                'Кількість (об’єм , обсяг)': 'count',
                'Ціна постачання одиниці товару/послуги без ПДВ': 'one_product_cost'
                })

        df_all_year_in_base.drop('id',axis=1, errors='ignore', inplace=True)
        #dbConnection.execute('delete from `'+tableName+'` where  `Дата виписки` >= \'2020-01-01\' and `Дата виписки` <= \''+date_now+'\'')
        df_all_year_in_base = pd.concat([df_all_year_in_base, frame],axis=0,ignore_index=True,sort=True,verify_integrity=True)
        rows_before=df_all_year_in_base.shape[0]
        print('Rows in DB_frame: '+str(rows_before))
        df_all_year_in_base.drop_duplicates(inplace=True)
        print ('Deleted '+str(rows_before-df_all_year_in_base.shape[0])+' duplicates')
        #frame.to_sql(tableName, dbConnection, if_exists='append', index=False)
        print("Done.")

####### 1/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38185522.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 101 in current file
Rows in DB_frame: 369021
Deleted 1425 duplicates
Done.
####### 2/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/36997771.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 44 in current file
Rows in DB_frame: 367640
Deleted 0 duplicates
Done.
####### 3/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/32662713.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 53 in current file
Rows in DB_frame: 367693
Deleted 0 duplicates
Done.
####### 4/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39274670.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 15 in current file
Rows in DB_frame: 367708
Deleted 0 duplicates
Done.
####### 5/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38503489.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 759 in current file
Rows in DB_frame: 368467
Deleted 0 duplicates
Done.
####### 6/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39120419.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2719 in current file
Rows in DB_frame: 371186
Deleted 0 duplicates
Done.
####### 7/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39043764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 277 in current file
Rows in DB_frame: 371463
Deleted 1 duplicates
Done.
####### 8/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/31588854.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1214 in current file
Rows in DB_frame: 372676
Deleted 13 duplicates
Done.
####### 9/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39108433.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1789 in current file
Rows in DB_frame: 374452
Deleted 13 duplicates
Done.
####### 10/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/40505181.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 173 in current file
Rows in DB_frame: 374612
Deleted 0 duplicates
Done.
####### 11/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41455095.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 209 in current file
Rows in DB_frame: 374821
Deleted 0 duplicates
Done.
####### 12/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39185764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 263 in current file
Rows in DB_frame: 375084
Deleted 1 duplicates
Done.
####### 13/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/36470766.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3568 in current file
Rows in DB_frame: 378651
Deleted 9 duplicates
Done.
####### 14/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/37725526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 598 in current file
Rows in DB_frame: 379240
Deleted 1 duplicates
Done.
####### 15/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41229606.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 453 in current file
Rows in DB_frame: 379692
Deleted 1 duplicates
Done.
####### 16/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38388904.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 428 in current file
Rows in DB_frame: 380119
Deleted 0 duplicates
Done.
####### 17/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/42121082.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 15 in current file
Rows in DB_frame: 380134
Deleted 0 duplicates
Done.
####### 18/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/22954177.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 168 in current file
Rows in DB_frame: 380302
Deleted 0 duplicates
Done.
####### 19/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/19396526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 41 in current file
Rows in DB_frame: 380343
Deleted 0 duplicates
Done.
####### 20/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39031869.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 541 in current file
Rows in DB_frame: 380884
Deleted 0 duplicates
Done.
####### 21/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/14307417.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1662 in current file
Rows in DB_frame: 382546
Deleted 1 duplicates
Done.
####### 22/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/37827970.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 11 in current file
Rows in DB_frame: 382556
Deleted 0 duplicates
Done.
####### 23/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/35935562.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3 in current file
Rows in DB_frame: 382559
Deleted 0 duplicates
Done.
####### 24/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/37603590.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 359 in current file
Rows in DB_frame: 382918
Deleted 0 duplicates
Done.
####### 25/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/42918383.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 690 in current file
Rows in DB_frame: 383608
Deleted 0 duplicates
Done.
####### 26/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/35662721.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4186 in current file
Rows in DB_frame: 387794
Deleted 0 duplicates
Done.
####### 27/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39196598.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 557 in current file
Rows in DB_frame: 388351
Deleted 0 duplicates
Done.
####### 28/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/25046658.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 828 in current file
Rows in DB_frame: 389179
Deleted 0 duplicates
Done.
####### 29/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/36592650.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 314 in current file
Rows in DB_frame: 389493
Deleted 4 duplicates
Done.
####### 30/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/40109330.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4 in current file
Rows in DB_frame: 389493
Deleted 0 duplicates
Done.
####### 31/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/37219763.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1956 in current file
Rows in DB_frame: 391449
Deleted 0 duplicates
Done.
####### 32/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/42853693.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1041 in current file
Rows in DB_frame: 392490
Deleted 0 duplicates
Done.
####### 33/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41930148.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 172 in current file
Rows in DB_frame: 392662
Deleted 0 duplicates
Done.
####### 34/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/33151525.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 63 in current file
Rows in DB_frame: 392725
Deleted 0 duplicates
Done.
####### 35/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/40429059.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 25 in current file
Rows in DB_frame: 392750
Deleted 0 duplicates
Done.
####### 36/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38453790.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 312 in current file
Rows in DB_frame: 393062
Deleted 0 duplicates
Done.
####### 37/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/43207280.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2049 in current file

Rows in DB_frame: 395111
Deleted 0 duplicates
Done.
####### 38/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/40380511.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 6588 in current file
Rows in DB_frame: 401699
Deleted 3 duplicates
Done.
####### 39/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39966290.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2007 in current file
Rows in DB_frame: 403703
Deleted 4 duplicates
Done.
####### 40/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38235159.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 29 in current file
Rows in DB_frame: 403728
Deleted 0 duplicates
Done.
####### 41/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/31955805.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1096 in current file
Rows in DB_frame: 404824
Deleted 1 duplicates
Done.
####### 42/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38264719.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 29 in current file
Rows in DB_frame: 404852
Deleted 0 duplicates
Done.
####### 43/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/38797324.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4173 in current file
Rows in DB_frame: 409025
Deleted 3 duplicates
Done.
####### 44/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41987990.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 106 in current file
Rows in DB_frame: 409128
Deleted 4 duplicates
Done.
####### 45/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41047380.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 568 in current file
Rows in DB_frame: 409692
Deleted 1 duplicates
Done.
####### 46/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/39773126.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 620 in current file
Rows in DB_frame: 410311
Deleted 1 duplicates
Done.
####### 47/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/42346980.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 5926 in current file
Rows in DB_frame: 416236
Deleted 2 duplicates
Done.
####### 48/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/41189553.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1631 in current file
Rows in DB_frame: 417865
Deleted 0 duplicates
Done.
####### 49/49 Work with /home/das/db_develop/nalog_copy/2021.08.19/вх50/36703454.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 600 in current file
Rows in DB_frame: 418465
Deleted 0 duplicates
Done.
CPU times: user 3min 41s, sys: 432 ms, total: 3min 41s
Wall time: 3min 41s

In [6]:
%%time

if 'ID' in df_all_year_in_base.columns:
    df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)
print("Clear from duplicates ...")
df_all_year_in_base.drop_duplicates(inplace=True)
print("Convert date columns ...")
df_all_year_in_base['ordering_date'] = pd.to_datetime(df_all_year_in_base['ordering_date'], format='%Y-%m-%d %H:%M:%S')
df_all_year_in_base['registration_date'] = pd.to_datetime(df_all_year_in_base['registration_date'])
print("ReClear from duplicates...")
df_all_year_in_base.drop_duplicates(inplace=True)

Clear from duplicates ...
Convert date columns ...
ReClear from duplicates...
CPU times: user 7.36 s, sys: 3.96 ms, total: 7.36 s
Wall time: 7.37 s

In [7]:
%%time


with engine.connect() as connection:
    #print("Clear period in DB...")
    connection.execute('delete from '+bkp_table+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\'')
    #print("Upload data to DB...")
    df_all_year_in_base.to_sql(bkp_table, connection, if_exists='append', index=False)
    print("Rename current table to rev... Лучше вручную! - виснет....")
    #connection.execute('ALTER TABLE '+tableName+' RENAME TO '+tableName+'2;')
    print("Rename backup table to current...")
    #connection.execute('ALTER TABLE '+bkp_table+' RENAME TO  '+tableName+';')
    print("Rename edrpu #0...")
    connection.execute('update '+tableName+' set buyer_name = \'Неплательщики/Иностранные покупатели\' where buyer_edrpou = 0;')
    connection.execute('update '+tableName+' set seller_name = \'Неплательщики/Иностранные покупатели\' where seller_edrpou = 0;')

    
print('Work finished')
print(df_all_year_in_base.shape)

Rename current table to rev...

OperationalError: (psycopg2.errors.AdminShutdown) ВАЖНО:  закрытие подключения по команде администратора
SSL connection has been closed unexpectedly

[SQL: ALTER TABLE credit_staging RENAME TO credit_staging2;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### FULL DEDUPE

In [ ]:
%%time
sql='select * from '+tableName+';'
print(sql)
df_pgsql =  pd.read_sql(sql, con=pgdbConnection)


if 'ID' in df_pgsql.columns: 
    df_pgsql.drop('ID',axis=1, errors='ignore', inplace=True)
print("Clear duplicates ...")
rows1=df_pgsql.shape[0]
print('Rows before deduplicate: '+str(rows1) )
df_pgsql.drop_duplicates(inplace=True)
rows2=df_pgsql.shape[0]
print('Deleted '+str(rows1-rows2)+' duplicates ('+str(round(100-rows2/rows1*100,2))+'%)')


bkp_table = tableName+'_deduped'
with engine.connect() as connection:
    print("Drop temporary table if it exist...")
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+';')
    print("Create new empty tmp table...")
    connection.execute('CREATE TABLE '+bkp_table+' AS TABLE '+tableName+' WITH NO DATA;')
    print("Upload deduplicated data from dataframe to db...")
    df_pgsql.to_sql(bkp_table, connection, if_exists='append', index=False)
    print("Move current table to trash...")
    connection.execute('RENAME TABLE '+tableName+' TO '+tableName+'_old_deleteme;')
    print("Rename backup table to current...")
    connection.execute('RENAME TABLE '+bkp_table+' TO '+tableName+';')
print("Upload to sql done.")