In [1]:
import pandas as pd
import glob
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql
from pyxlsb import convert_date

In [2]:
# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')

#connection to use with raw sql
connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

RECORDS STAGING PART
======================

In [3]:
# Пример пути all_files = glob.glob("F:/anamnez/in/**/ПЗ*.csv", recursive=True)
#all_files = glob.glob("/home/das/db_develop/src_files/full/2018/*.xlsx", recursive=True)
all_files = sorted(glob.glob("/home/das/db_develop/src_copy/2021/imp7_.xlsx", recursive=True))
print(all_files)

['/home/das/db_develop/src_copy/2021/imp7_.xlsx']

In [4]:
dst_table_name="records_staging"
tmp_table_name = dst_table_name+'_tmp'

In [ ]:

#sql_command = "DROP TABLE IF EXISTS %s;"%tmp_table_name;
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#sql_command = "CREATE INDEX unique_recs ON %s ((description || ' ' || gtd));"%dst_table_name;
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()

In [8]:

# Создаем копию таблицы: структура без данных
sql_command = "DROP TABLE IF EXISTS "+tmp_table_name+"; create table "+tmp_table_name+" as table "+dst_table_name+" WITH NO DATA; alter table "+dst_table_name+" drop column if exists id;"
                    
print(sql_command)
cursor.execute(sql_command)
connection.commit()
#

DROP TABLE IF EXISTS records_staging_tmp; create table records_staging_tmp as table records_staging WITH NO DATA; alter table records_staging drop column if exists id;

In [9]:
%%time
# Wall time: 1h 44min 49s (12+7 files)



## In case @IndexError list index out of range@ you must open caused file,
## copy matching data, paste only values and save in new file


for file in all_files:
    df_file=pd.DataFrame()
    if (file.find('.xlsx')>0):
        print("Loading xlsx file: "+file)
        df_file=pd.read_excel(file)
    if (file.find('.xlsb')>0):
        print("Loading xlsb file: "+file)
        df_file=pd.read_excel(file, engine='pyxlsb')
        df_file['date']=df_file['date'].apply(convert_date) # convert date from xlsb format (123456.789012) to datetime
    df=df_file
    #df['date'] = pd.to_datetime(df['date'],format='%d-%m-%Y', errors='coerce')
    #print(df['date'][1])
    #df['date']=df['date'].dt.date
    print(type(df['date'][0]))
    df=df.round({'cost_fact': 2, 'cost_customs': 2})
    df['gtd']=df['gtd'].apply(lambda x: x.replace(" ",""))
    df['trademark']=df['trademark'].str.strip()
    before_rows=df.shape[0]
    df.drop_duplicates(subset=['description','date','gtd'],inplace=True)
    after_rows=df.shape[0]
    print('Removed '+str(before_rows - after_rows)+' duplicates')
    df['hash'] = df.apply(lambda x: hash(tuple(x)), axis = 1)
    print("Save file: "+file+" to database table " + tmp_table_name)
    df.to_sql(tmp_table_name, engine, if_exists='append',index=False)
    print("Done.")

## uncomment if if_exists = 'replace'
#sql_command='ALTER TABLE '+table_name+' ADD CONSTRAINT "hash" UNIQUE ("hash");'
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
print(df['date'][0])

Loading xlsx file: /home/das/db_develop/src_copy/2021/imp7_.xlsx
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
Removed 28487 duplicates
Save file: /home/das/db_develop/src_copy/2021/imp7_.xlsx to database table records_staging_tmp
Done.
2021-07-01 00:25:34
CPU times: user 4min 10s, sys: 42.8 s, total: 4min 53s
Wall time: 8min 10s

In [10]:
%%time
# Wall time: 4min 47s
#if update (query works - it's checked!!!)
# перед заливкой необходимо удалить primary_key в records_staging
# 1
sql_command = "alter table "+dst_table_name+" drop constraint if exists records_staging_pkey;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

# 2
sql_command = "insert into "+dst_table_name+" SELECT rst.sender_name,rst.recipient_code,rst.recipient_name,rst.product_code,rst.trademark,rst.description,rst.country,rst.cost_customs,rst.cost_fact,rst.date,rst.gtd,rst.hash FROM "+tmp_table_name+" rst LEFT JOIN "+dst_table_name+" rs USING (DATE) WHERE rs.DATE IS NULL ;"
#zero load
#sql_command = "insert into "+dst_table_name+" select * from "+table_name

#  ОШИБКА: нулевое значение в столбце "id" нарушает ограничение NOT NULL
# но ведь id у меня PRIMARY KEY и Not Null, он же должен автоматом генериться, не?
# Если у Вас тип integer, то нет.
# Для инкремента нужно использовать тип SERIAL.
print(sql_command)
cursor.execute(sql_command)
connection.commit()

sql_command = "alter table records_staging \
	add id serial not null;\
create unique index records_staging_id_uindex \
	on records_staging (id); \
alter table records_staging \
	add constraint records_staging_pk \
		primary key (id);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

alter table records_staging drop constraint if exists records_staging_pkey;
insert into records_staging SELECT rst.sender_name,rst.recipient_code,rst.recipient_name,rst.product_code,rst.trademark,rst.description,rst.country,rst.cost_customs,rst.cost_fact,rst.date,rst.gtd,rst.hash FROM records_staging_tmp rst LEFT JOIN records_staging rs USING (DATE) WHERE rs.DATE IS NULL ;
alter table records_staging 	add id serial not null;create unique index records_staging_id_uindex 	on records_staging (id); alter table records_staging 	add constraint records_staging_pk 		primary key (id);
CPU times: user 32.4 ms, sys: 1.69 ms, total: 34.1 ms
Wall time: 7min 8s

In [11]:
%%time
# нельзя использовать поле date, т.к. разные поставщики данных могут использовать только дату или дату+время
delete_duplicates="DELETE FROM records_staging r where exists ( select 'x' from records_staging rr where rr.description = r.description and rr.gtd = r.gtd and rr.cost_fact = r.cost_fact and r.ctid < rr.ctid );"  
##60293 rows affected in 11 m 33 s 247 ms


print(delete_duplicates)
cursor.execute(delete_duplicates)
connection.commit()
print("Done")

DELETE FROM records_staging r where exists ( select 'x' from records_staging rr where rr.description = r.description and rr.gtd = r.gtd and rr.cost_fact = r.cost_fact and r.ctid < rr.ctid );
Done
CPU times: user 23.7 ms, sys: 1.6 ms, total: 25.3 ms
Wall time: 6min 33s

In [12]:
%%time

sql_command = "truncate records_competitors RESTART IDENTITY CASCADE;\
create table if not exists records_competitors as table records_staging WITH NO DATA; \
insert into records_competitors select * from records_staging where recipient_code in (select competitor_code from competitors);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
# создание primary key в records_comprtitiors
sql_command = "alter table records_competitors drop constraint records_competitors_pkey;\
    alter table records_competitors ADD PRIMARY KEY (id); \
    create sequence if not exists records_competitors_id_seq; \
    alter table records_competitors alter column id set default nextval('public.records_competitors_id_seq'); \
    alter sequence records_competitors_id_seq owned by records_competitors.id;"; 
print(sql_command)
cursor.execute(sql_command)
connection.commit()
#create index records_competitors_sender_name_index on records_competitors (sender_name); \
sql_command = "create index records_competitors_recipient_name_index on records_competitors (recipient_name); \
                create index records_competitors_description_index on records_competitors (description); \
                create index records_competitors_gtd_index on records_competitors (gtd);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

truncate records_competitors RESTART IDENTITY CASCADE;create table if not exists records_competitors as table records_staging WITH NO DATA; insert into records_competitors select * from records_staging where recipient_code in (select competitor_code from competitors);
alter table records_competitors drop constraint records_competitors_pkey;    alter table records_competitors ADD PRIMARY KEY (id);     create sequence if not exists records_competitors_id_seq;     alter table records_competitors alter column id set default nextval('public.records_competitors_id_seq');     alter sequence records_competitors_id_seq owned by records_competitors.id;
create index records_competitors_recipient_name_index on records_competitors (recipient_name);                 create index records_competitors_description_index on records_competitors (description);                 create index records_competitors_gtd_index on records_competitors (gtd);

DuplicateTable: ОШИБКА:  отношение "records_competitors_recipient_name_index" уже существует

In [13]:
# создание primary key в records_staging
sql_command = "alter table "+dst_table_name+" add id bigserial not null;\
    alter table "+dst_table_name+" ADD PRIMARY KEY (id); \
    create sequence "+dst_table_name+"_id_seq; \
    alter table "+dst_table_name+" alter column id set default nextval('public."+dst_table_name+"_id_seq'); \
    alter sequence "+dst_table_name+"_id_seq owned by "+dst_table_name+".id;"; 
print(sql_command)
cursor.execute(sql_command)
connection.commit()

alter table records_staging add id bigserial not null;    alter table records_staging ADD PRIMARY KEY (id);     create sequence records_staging_id_seq;     alter table records_staging alter column id set default nextval('public.records_staging_id_seq');     alter sequence records_staging_id_seq owned by records_staging.id;

DuplicateColumn: ОШИБКА:  столбец "id" отношения "records_staging" уже существует

In [ ]:
sql_command = "DROP TABLE IF EXISTS %s;"%tmp_table_name;
print(sql_command)

## UNCOMMENT ONLY WHEN ALL DONE
#cursor.execute(sql_command)
#connection.commit()

 NALOG STAGING PART
 =======

In [ ]:
sqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

Reestr part
------

In [ ]:
df_reestr = pd.read_sql('SELECT * FROM Реестр', con=dbConnection)

In [ ]:
df_reestr.columns

In [ ]:
df_reestr.rename(columns={'Iдентифікатор документа':'doc_id', 
                 'Регіон (Продавець)':'seller_region', 
                 'Район (Продавець)':'seller_rayon',
                 'Податковий номер (Продавець)':'seller_edrpou', 
                 'ІПН (Продавець)':'seller_ipn', 
                 'Найменування/ПІБ (Продавець)':'seller_name', 
                 'Стан (Продавець)':'seller_state', 
                 'Регіон (Покупець)':'buyer_region', 
                 'Район (Покупець)':'buyer_rayon', 
                 'Податковий номер (Покупець)':'buyer_edrpou', 
                 'ІПН (Покупець)':'buyer_ipn', 
                 'Найменування/ПІБ (Покупець)':'buyer_name', 
                 'Стан (Покупець)':'buyer_state', 
                 'Реєстр. номер у ЄРПН':'reestr_number', 
                 '№ ПН':'nn_number', 
                 'Дата виписки':'ordering_date', 
                 'Дата реєстрації':'registration_date',
                 'Загальна сума коштів що підлягає сплаті':'total_pay_cost', 
                 'Сума ПДВ':'pdv_summ', 
                 'Обсяг операцій за ставкою 20%':'20_percent_count', 
                 'Обсяг операцій за ставкою 7%':'7_percent_count', 
                 'Кількість РК':'rk_count', 
                 'Сума коригування':'correction_cost', 
                 'Ціна постач.одиниці РК':'one_rk_cost', 
                 'Номенклатура товарів/послуг':'product_name', 
                 'Код УКТЗЕД':'product_code', 
                 'Одиниця виміру товару/ послуги':'unit', 
                 'Кількість (об’єм , обсяг)':'count', 
                 'Ціна постачання одиниці товару/послуги без ПДВ':'one_product_cost',}, 
        inplace=True)

In [ ]:
reestr_table_name = 'reestr_staging'
sql_command = "DROP TABLE IF EXISTS %s;"%table_name;
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
df_reestr_nodup=df_reestr.drop_duplicates(subset=['seller_edrpou',
                                  'buyer_edrpou',
                                  'ordering_date',
                                  'product_name',
                                  'one_product_cost',
                                 'count']).reset_index()
print('Deleted duplicates:')
#print difference beetwen original dataframe and deduplicated
#pd.concat([df_reestr,df_reestr_nodup]).drop_duplicates(keep=False)
df_reestr_nodup=df_reestr_nodup.drop(columns=['ID','index'])
df_reestr_nodup['hash'] = df_reestr_nodup.apply(lambda x: hash(tuple(x)), axis = 1)
df_reestr_nodup

In [ ]:
print("Save data: to database table " + reestr_table_name)
df_reestr_nodup.to_sql(reestr_table_name, engine, if_exists='replace',index=False)

Credit part
-----

In [ ]:
df_credit = pd.read_sql('SELECT * FROM `credit`', con=dbConnection)

In [ ]:
df_credit.rename(columns={'Iдентифікатор документа':'doc_id', 
                 'Регіон (Продавець)':'seller_region', 
                 'Район (Продавець)':'seller_rayon',
                 'Податковий номер (Продавець)':'seller_edrpou', 
                 'ІПН (Продавець)':'seller_ipn', 
                 'Найменування/ПІБ (Продавець)':'seller_name', 
                 'Стан (Продавець)':'seller_state', 
                 'Регіон (Покупець)':'buyer_region', 
                 'Район (Покупець)':'buyer_rayon', 
                 'Податковий номер (Покупець)':'buyer_edrpou', 
                 'ІПН (Покупець)':'buyer_ipn', 
                 'Найменування/ПІБ (Покупець)':'buyer_name', 
                 'Стан (Покупець)':'buyer_state', 
                 'Реєстр. номер у ЄРПН':'reestr_number', 
                 '№ ПН':'nn_number', 
                 'Дата виписки':'ordering_date', 
                 'Дата реєстрації':'registration_date',
                 'Загальна сума коштів що підлягає сплаті':'total_pay_cost', 
                 'Сума ПДВ':'pdv_summ', 
                 'Обсяг операцій за ставкою 20%':'20_percent_count', 
                 'Обсяг операцій за ставкою 7%':'7_percent_count', 
                 'Кількість РК':'rk_count', 
                 'Сума коригування':'correction_cost', 
                 'Ціна постач.одиниці РК':'one_rk_cost', 
                 'Номенклатура товарів/послуг':'product_name', 
                 'Код УКТЗЕД':'product_code', 
                 'Одиниця виміру товару/ послуги':'unit', 
                 'Кількість (об’єм , обсяг)':'count', 
                 'Ціна постачання одиниці товару/послуги без ПДВ':'one_product_cost',}, 
        inplace=True)

In [ ]:
credit_table_name = 'credit_staging'
sql_command = "DROP TABLE IF EXISTS %s;"%table_name;
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
df_credit_nodup=df_credit.drop_duplicates(subset=['seller_edrpou',
                                  'buyer_edrpou',
                                  'ordering_date',
                                  'product_name',
                                  'one_product_cost',
                                 'count']).reset_index()
print('Deleted duplicates:')
#print difference beetwen original dataframe and deduplicated
#pd.concat([df_credit,df_credit_nodup]).drop_duplicates(keep=False)
df_credit_nodup=df_credit_nodup.drop(columns=['index'])
df_credit_nodup['hash'] = df_credit_nodup.apply(lambda x: hash(tuple(x)), axis = 1)
#df_credit_nodup
print("Save data: to database table " + credit_table_name)
df_credit_nodup.to_sql(credit_table_name, engine, if_exists='replace',index=False)