In [33]:
import sqlalchemy
import pandas as pd
from datetime import datetime
import glob
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql

In [34]:
# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')
pgdbConnection    = engine.connect()

#connection to use with raw sql
connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

In [22]:
%%time
# Wall time: 1min 24s


tableName = "credit_staging"  

date_now=dt.datetime.today().strftime("%Y-%m-%d")
sql='select * from '+tableName+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\''
print(sql)
df_all_year_in_base =  pd.read_sql(sql, con=pgdbConnection)
print(df_all_year_in_base.shape)

select * from credit_staging where  ordering_date >= '2020-01-01' and ordering_date <= '2021-11-20'
(463958, 30)
CPU times: user 9.23 s, sys: 314 ms, total: 9.54 s
Wall time: 10.7 s

In [23]:
%%time
bkp_table = 'bkp_'+tableName

with engine.connect() as connection:
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+';')
    connection.execute('CREATE TABLE '+bkp_table+' as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+' SELECT * FROM '+tableName+';')
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+'2;')
    connection.execute('CREATE TABLE '+bkp_table+'2 as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+'2 SELECT * FROM '+tableName+';')
df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)

CPU times: user 679 ms, sys: 391 µs, total: 679 ms
Wall time: 10.3 s

In [24]:
%%time
# Пример пути all_files = glob.glob("F:/anamnez/in/**/ПЗ*.csv", recursive=True)
#pathes=["F:/anamnez/in/2020.03.20/**/ПЗ*.csv","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/ПЗ*.csv","F:/anamnez/in/2020.08.12/15/**/*реалізація*.xlsx","F:/anamnez/in/2020.08.12/46/**/*реалізація*.xlsx"]
#pathes=["F:/anamnez/in/2020.08.12/46/**/41189553 реалізація*.xlsx","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/пз 41189553.csv",]
#pathes=["F:/anamnez/in/2020.11.09/DropMeFiles_MGyKv/**/*реалізація*.xlsx"]
pathes=["/home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/*.xls"]
for pth in pathes:
    all_files = glob.glob(pth, recursive=True)
    files_count=len(all_files)
    counter=0
    for filename in all_files:
        counter+=1
        print("####### "+str(counter)+"/"+str(files_count)+" Work with " + filename +": ")
        if (filename.find('.csv')>0):
            print("Read csv file")
            frame = pd.read_csv(filename, engine="python", encoding="cp1251", sep=';', decimal=",")
            frame['Дата виписки'] = pd.to_datetime(frame['Дата виписки'],format='%d.%m.%Y', errors='raise')
        else:
            print("Read excel file")
            if (filename.find('.xls')>0):
                frame = pd.read_excel(filename)
            else:
                print("Wrong file type")
                exit()

        frame['Дата виписки'] = frame['Дата виписки'].dt.strftime('%Y-%m-%d')
        frame = frame.rename(columns={ \
                                      "Область (Продавець)": "Регіон (Продавець)", \
                                      "Податковий № (Продавець)": "Податковий номер (Продавець)", \
                                      "Область (Покупець)": "Регіон (Покупець)", \
                                      "Податковий № (Покупець)":"Податковий номер (Покупець)", \
                                      "Реєстраційний №":"Реєстр. номер у ЄРПН", \
                                      "Номер ПН/РК":"№ ПН","Ціна постачання одиниці товару / послуги без урахування податку на додану вартість":"Ціна постачання одиниці товару/послуги без ПДВ"})
        frame_rows_orig = frame.shape[0]
        frame.drop_duplicates(subset=['Податковий номер (Продавець)', 'Податковий номер (Покупець)', 'Реєстр. номер у ЄРПН', 'Номенклатура товарів/послуг','Кількість (об’єм , обсяг)','Ціна постачання одиниці товару/послуги без ПДВ'])
        frame_rows_nodup = frame.shape[0]
        print("Deleted " + str(frame_rows_orig - frame_rows_nodup)  +  " duplicates in current file")
        if 'Статус ПН/РК' in frame.columns:
            frame.drop('Статус ПН/РК', axis=1, inplace=True)
        if 'Виключено' in frame.columns:
            frame.drop('Виключено', axis=1, inplace=True)
        if 'Обсяги постачання (база оподаткування) без урахування податку на додану вартість' in frame.columns:    
            frame.drop('Обсяги постачання (база оподаткування) без урахування податку на додану вартість', axis=1, inplace=True)
        if 'Обсяг операцій за ставкою 14%' in frame.columns:   
            frame.drop('Обсяг операцій за ставкою 14%',axis=1, errors='ignore', inplace=True)
        if 'Статус за СМКОР' in frame.columns:    
            frame.drop('Статус за СМКОР',axis=1, errors='ignore', inplace=True)
        print("Rows count: "+ str(len(frame['Дата виписки']))+" in current file")
        frame = frame.rename(columns={
                'Iдентифікатор документа': 'doc_id',
            	'Регіон (Продавець)':'seller_region',
                'Район (Продавець)':'seller_rayon',
                'Податковий номер (Продавець)': 'seller_edrpou',
                'ІПН (Продавець)': 'seller_ipn',
                'Найменування/ПІБ (Продавець)': 'seller_name',
                'Стан (Продавець)': 'seller_state',
                'Регіон (Покупець)': 'buyer_region',
                'Район (Покупець)': 'buyer_rayon',
                'Податковий номер (Покупець)': 'buyer_edrpou',
                'ІПН (Покупець)': 'buyer_ipn',
                'Найменування/ПІБ (Покупець)': 'buyer_name',
                'Стан (Покупець)': 'buyer_state',
                'Реєстр. номер у ЄРПН': 'reestr_number',
                '№ ПН': 'nn_number',
                'Дата виписки': 'ordering_date',
                'Дата реєстрації': 'registration_date',
                'Загальна сума коштів що підлягає сплаті': 'total_pay_cost',
                'Сума ПДВ': 'pdv_summ',
                'Обсяг операцій за ставкою 20%': '20_percent_count',
                'Обсяг операцій за ставкою 7%': '7_percent_count',
                'Кількість РК': 'rk_count',
                'Сума коригування': 'correction_cost',
                'Ціна постач.одиниці РК': 'one_rk_cost',
                'Номенклатура товарів/послуг': 'product_name',
                'Код УКТЗЕД': 'product_code',
                'Одиниця виміру товару/ послуги': 'unit',
                'Кількість (об’єм , обсяг)': 'count',
                'Ціна постачання одиниці товару/послуги без ПДВ': 'one_product_cost'
                })

        df_all_year_in_base.drop('id',axis=1, errors='ignore', inplace=True)
        #dbConnection.execute('delete from `'+tableName+'` where  `Дата виписки` >= \'2020-01-01\' and `Дата виписки` <= \''+date_now+'\'')
        df_all_year_in_base = pd.concat([df_all_year_in_base, frame],axis=0,ignore_index=True,sort=True,verify_integrity=True)
        rows_before=df_all_year_in_base.shape[0]
        print('Rows in DB_frame: '+str(rows_before))
        df_all_year_in_base.drop_duplicates(inplace=True)
        print ('Deleted '+str(rows_before-df_all_year_in_base.shape[0])+' duplicates')
        #frame.to_sql(tableName, dbConnection, if_exists='append', index=False)
        print("Done.")

####### 1/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38185522.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 116 in current file
Rows in DB_frame: 464074
Deleted 927 duplicates
Done.
####### 2/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/36997771.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 17 in current file
Rows in DB_frame: 463164
Deleted 0 duplicates
Done.
####### 3/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/32662713.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 32 in current file
Rows in DB_frame: 463196
Deleted 0 duplicates
Done.
####### 4/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39274670.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 41 in current file
Rows in DB_frame: 463237
Deleted 0 duplicates
Done.
####### 5/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38503489.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 580 in current file
Rows in DB_frame: 463817
Deleted 1 duplicates
Done.
####### 6/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39120419.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3091 in current file
Rows in DB_frame: 466907
Deleted 0 duplicates
Done.
####### 7/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39043764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 382 in current file
Rows in DB_frame: 467289
Deleted 0 duplicates
Done.
####### 8/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/31588854.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1448 in current file
Rows in DB_frame: 468737
Deleted 1 duplicates
Done.
####### 9/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39108433.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1050 in current file
Rows in DB_frame: 469786
Deleted 11 duplicates
Done.
####### 10/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/40505181.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 109 in current file
Rows in DB_frame: 469884
Deleted 0 duplicates
Done.
####### 11/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41455095.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 106 in current file
Rows in DB_frame: 469990
Deleted 0 duplicates
Done.
####### 12/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39185764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 208 in current file
Rows in DB_frame: 470198
Deleted 0 duplicates
Done.
####### 13/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/37725526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 379 in current file
Rows in DB_frame: 470577
Deleted 9 duplicates
Done.
####### 14/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41229606.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 470 in current file
Rows in DB_frame: 471038
Deleted 1 duplicates
Done.
####### 15/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38388904.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 541 in current file
Rows in DB_frame: 471578
Deleted 0 duplicates
Done.
####### 16/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/42121082.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 14 in current file
Rows in DB_frame: 471592
Deleted 0 duplicates
Done.
####### 17/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/22954177.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 207 in current file
Rows in DB_frame: 471799
Deleted 0 duplicates
Done.
####### 18/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/19396526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 49 in current file
Rows in DB_frame: 471848
Deleted 0 duplicates
Done.
####### 19/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39031869.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 630 in current file
Rows in DB_frame: 472478
Deleted 0 duplicates
Done.
####### 20/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/14307417.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1590 in current file
Rows in DB_frame: 474068
Deleted 0 duplicates
Done.
####### 21/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/37827970.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 24 in current file
Rows in DB_frame: 474092
Deleted 0 duplicates
Done.
####### 22/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/37603590.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 236 in current file
Rows in DB_frame: 474328
Deleted 1 duplicates
Done.
####### 23/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/42918383.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 850 in current file
Rows in DB_frame: 475177
Deleted 0 duplicates
Done.
####### 24/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/35662721.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4675 in current file
Rows in DB_frame: 479852
Deleted 5 duplicates
Done.
####### 25/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39196598.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 17 in current file
Rows in DB_frame: 479864
Deleted 0 duplicates
Done.
####### 26/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/25046658.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 602 in current file
Rows in DB_frame: 480466
Deleted 0 duplicates
Done.
####### 27/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/36592650.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 321 in current file
Rows in DB_frame: 480787
Deleted 1 duplicates
Done.
####### 28/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/37219763.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1529 in current file
Rows in DB_frame: 482315
Deleted 1 duplicates
Done.
####### 29/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/42853693.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 651 in current file
Rows in DB_frame: 482965
Deleted 0 duplicates
Done.
####### 30/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41930148.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 239 in current file
Rows in DB_frame: 483204
Deleted 0 duplicates
Done.
####### 31/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/33151525.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 229 in current file
Rows in DB_frame: 483433
Deleted 0 duplicates
Done.
####### 32/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/40429059.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 67 in current file
Rows in DB_frame: 483500
Deleted 0 duplicates
Done.
####### 33/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38453790.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 274 in current file
Rows in DB_frame: 483774
Deleted 0 duplicates
Done.
####### 34/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/43207280.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2073 in current file
Rows in DB_frame: 485847
Deleted 5 duplicates
Done.
####### 35/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/40380511.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 6897 in current file
Rows in DB_frame: 492739
Deleted 6 duplicates
Done.
####### 36/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39966290.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2004 in current file
Rows in DB_frame: 494737
Deleted 4 duplicates
Done.
####### 37/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38235159.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4 in current file

Rows in DB_frame: 494737
Deleted 0 duplicates
Done.
####### 38/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/31955805.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1193 in current file
Rows in DB_frame: 495930
Deleted 0 duplicates
Done.
####### 39/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38264719.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 30 in current file
Rows in DB_frame: 495960
Deleted 0 duplicates
Done.
####### 40/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/38797324.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4048 in current file
Rows in DB_frame: 500008
Deleted 33 duplicates
Done.
####### 41/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41987990.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 9 in current file
Rows in DB_frame: 499984
Deleted 0 duplicates
Done.
####### 42/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41047380.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 586 in current file
Rows in DB_frame: 500570
Deleted 0 duplicates
Done.
####### 43/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/39773126.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 473 in current file
Rows in DB_frame: 501043
Deleted 0 duplicates
Done.
####### 44/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/42346980.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 5160 in current file
Rows in DB_frame: 506203
Deleted 4 duplicates
Done.
####### 45/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/41189553.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1782 in current file
Rows in DB_frame: 507981
Deleted 1 duplicates
Done.
####### 46/46 Work with /home/das/db_develop/nalog_copy/2021.11.19/вх46 (3)/36703454.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 544 in current file
Rows in DB_frame: 508524
Deleted 0 duplicates
Done.
CPU times: user 4min 19s, sys: 160 ms, total: 4min 19s
Wall time: 4min 20s

In [25]:
%%time

if 'ID' in df_all_year_in_base.columns:
    df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)
print("Clear from duplicates ...")
df_all_year_in_base.drop_duplicates(inplace=True)
print("Convert date columns ...")
df_all_year_in_base['ordering_date'] = pd.to_datetime(df_all_year_in_base['ordering_date'], format='%Y-%m-%d %H:%M:%S')
df_all_year_in_base['registration_date'] = pd.to_datetime(df_all_year_in_base['registration_date'])
print("ReClear from duplicates...")
df_all_year_in_base.drop_duplicates(inplace=True)

Clear from duplicates ...
Convert date columns ...
ReClear from duplicates...
CPU times: user 6.72 s, sys: 7.09 ms, total: 6.72 s
Wall time: 6.72 s

In [26]:
%%time
# Wall time: 6min 48s
with engine.connect() as connection:
    print("Clear period in DB...")
    connection.execute('delete from '+bkp_table+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\'')
    print("Upload data to DB...")
    df_all_year_in_base.to_sql(bkp_table, connection, if_exists='append', index=False)

Clear period in DB...
Upload data to DB...
CPU times: user 1min 52s, sys: 27.7 s, total: 2min 20s
Wall time: 4min 45s

In [30]:
%%time
## !!!!!!!!!!!!!
## DO service postgresql restart before this part!
## !!!!!!!!!!!!!
with engine.connect() as connection:
    print("Rename current table to rev... Лучше вручную! - виснет....")
    connection.execute('ALTER TABLE '+tableName+' RENAME TO '+tableName+'2;')
    print("Rename backup table to current...")
    connection.execute('ALTER TABLE '+bkp_table+' RENAME TO  '+tableName+';')
    print("Rename edrpu #0...")
    connection.execute('update '+tableName+' set buyer_name = \'Неплательщики/Иностранные покупатели\' where buyer_edrpou = 0;')
    connection.execute('update '+tableName+' set seller_name = \'Неплательщики/Иностранные покупатели\' where seller_edrpou = 0;')

    
print('Work finished')
print(df_all_year_in_base.shape)

Rename current table to rev... Лучше вручную! - виснет....
Rename backup table to current...
Rename edrpu #0...
Work finished
(508524, 30)
CPU times: user 11.3 ms, sys: 3.98 ms, total: 15.2 ms
Wall time: 1.03 s

### FULL DEDUPE

## REESTR STAGING

In [12]:
%%time
# Wall time: 1min 24s


tableName = "reestr_staging"  

date_now=dt.datetime.today().strftime("%Y-%m-%d")
sql='select * from '+tableName+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\''
print(sql)
df_all_year_in_base =  pd.read_sql(sql, con=pgdbConnection)
print(df_all_year_in_base.shape)
print ("Reanming work table to bkp...")
bkp_table = 'bkp_'+tableName
print("Renaming done")
with engine.connect() as connection:
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+';')
    connection.execute('CREATE TABLE '+bkp_table+' as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+' SELECT * FROM '+tableName+';')
    connection.execute('DROP TABLE IF EXISTS '+bkp_table+'2;')
    connection.execute('CREATE TABLE '+bkp_table+'2 as table '+tableName+' WITH NO DATA;')
    connection.execute('INSERT INTO '+bkp_table+'2 SELECT * FROM '+tableName+';')
df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)

select * from reestr_staging where  ordering_date >= '2020-01-01' and ordering_date <= '2021-11-20'
(624029, 30)
CPU times: user 10.1 s, sys: 1.05 s, total: 11.2 s
Wall time: 25.4 s

In [13]:
%%time
# Пример пути all_files = glob.glob("F:/anamnez/in/**/ПЗ*.csv", recursive=True)
#pathes=["F:/anamnez/in/2020.03.20/**/ПЗ*.csv","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/ПЗ*.csv","F:/anamnez/in/2020.08.12/15/**/*реалізація*.xlsx","F:/anamnez/in/2020.08.12/46/**/*реалізація*.xlsx"]
#pathes=["F:/anamnez/in/2020.08.12/46/**/41189553 реалізація*.xlsx","F:/anamnez/in/2020.05.01/10 не вігрузило пз 38397840/**/пз 41189553.csv",]
#pathes=["F:/anamnez/in/2020.11.09/DropMeFiles_MGyKv/**/*реалізація*.xlsx"]
pathes=["/home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/*.xls","/home/das/db_develop/nalog_copy/2021.11.20/вих/*.xls"]
for pth in pathes:
    all_files = glob.glob(pth, recursive=True)
    files_count=len(all_files)
    counter=0
    for filename in all_files:
        counter+=1
        print("####### "+str(counter)+"/"+str(files_count)+" Work with " + filename +": ")
        if (filename.find('.csv')>0):
            print("Read csv file")
            frame = pd.read_csv(filename, engine="python", encoding="cp1251", sep=';', decimal=",")
            frame['Дата виписки'] = pd.to_datetime(frame['Дата виписки'],format='%d.%m.%Y', errors='raise')
        else:
            print("Read excel file")
            if (filename.find('.xls')>0):
                frame = pd.read_excel(filename)
            else:
                print("Wrong file type")
                exit()

        frame['Дата виписки'] = frame['Дата виписки'].dt.strftime('%Y-%m-%d')
        frame = frame.rename(columns={ \
                                      "Область (Продавець)": "Регіон (Продавець)", \
                                      "Податковий № (Продавець)": "Податковий номер (Продавець)", \
                                      "Область (Покупець)": "Регіон (Покупець)", \
                                      "Податковий № (Покупець)":"Податковий номер (Покупець)", \
                                      "Реєстраційний №":"Реєстр. номер у ЄРПН", \
                                      "Номер ПН/РК":"№ ПН","Ціна постачання одиниці товару / послуги без урахування податку на додану вартість":"Ціна постачання одиниці товару/послуги без ПДВ"})
        frame_rows_orig = frame.shape[0]
        frame.drop_duplicates(subset=['Податковий номер (Продавець)', 'Податковий номер (Покупець)', 'Реєстр. номер у ЄРПН', 'Номенклатура товарів/послуг','Кількість (об’єм , обсяг)','Ціна постачання одиниці товару/послуги без ПДВ'])
        frame_rows_nodup = frame.shape[0]
        print("Deleted " + str(frame_rows_orig - frame_rows_nodup)  +  " duplicates in current file")
        if 'Статус ПН/РК' in frame.columns:
            frame.drop('Статус ПН/РК', axis=1, inplace=True)
        if 'Виключено' in frame.columns:
            frame.drop('Виключено', axis=1, inplace=True)
        if 'Обсяги постачання (база оподаткування) без урахування податку на додану вартість' in frame.columns:    
            frame.drop('Обсяги постачання (база оподаткування) без урахування податку на додану вартість', axis=1, inplace=True)
        if 'Обсяг операцій за ставкою 14%' in frame.columns:   
            frame.drop('Обсяг операцій за ставкою 14%',axis=1, errors='ignore', inplace=True)
        if 'Статус за СМКОР' in frame.columns:    
            frame.drop('Статус за СМКОР',axis=1, errors='ignore', inplace=True)
        print("Rows count: "+ str(len(frame['Дата виписки']))+" in current file")
        frame = frame.rename(columns={
                'Iдентифікатор документа': 'doc_id',
            	'Регіон (Продавець)':'seller_region',
                'Район (Продавець)':'seller_rayon',
                'Податковий номер (Продавець)': 'seller_edrpou',
                'ІПН (Продавець)': 'seller_ipn',
                'Найменування/ПІБ (Продавець)': 'seller_name',
                'Стан (Продавець)': 'seller_state',
                'Регіон (Покупець)': 'buyer_region',
                'Район (Покупець)': 'buyer_rayon',
                'Податковий номер (Покупець)': 'buyer_edrpou',
                'ІПН (Покупець)': 'buyer_ipn',
                'Найменування/ПІБ (Покупець)': 'buyer_name',
                'Стан (Покупець)': 'buyer_state',
                'Реєстр. номер у ЄРПН': 'reestr_number',
                '№ ПН': 'nn_number',
                'Дата виписки': 'ordering_date',
                'Дата реєстрації': 'registration_date',
                'Загальна сума коштів що підлягає сплаті': 'total_pay_cost',
                'Сума ПДВ': 'pdv_summ',
                'Обсяг операцій за ставкою 20%': '20_percent_count',
                'Обсяг операцій за ставкою 7%': '7_percent_count',
                'Кількість РК': 'rk_count',
                'Сума коригування': 'correction_cost',
                'Ціна постач.одиниці РК': 'one_rk_cost',
                'Номенклатура товарів/послуг': 'product_name',
                'Код УКТЗЕД': 'product_code',
                'Одиниця виміру товару/ послуги': 'unit',
                'Кількість (об’єм , обсяг)': 'count',
                'Ціна постачання одиниці товару/послуги без ПДВ': 'one_product_cost'
                })

        df_all_year_in_base.drop('id',axis=1, errors='ignore', inplace=True)
        #dbConnection.execute('delete from `'+tableName+'` where  `Дата виписки` >= \'2020-01-01\' and `Дата виписки` <= \''+date_now+'\'')
        df_all_year_in_base = pd.concat([df_all_year_in_base, frame],axis=0,ignore_index=True,sort=True,verify_integrity=True)
        rows_before=df_all_year_in_base.shape[0]
        print('Rows in DB_frame: '+str(rows_before))
        df_all_year_in_base.drop_duplicates(inplace=True)
        print ('Deleted '+str(rows_before-df_all_year_in_base.shape[0])+' duplicates')
        #frame.to_sql(tableName, dbConnection, if_exists='append', index=False)
        print("Done.")

####### 1/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38185522.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1341 in current file
Rows in DB_frame: 625370
Deleted 0 duplicates
Done.
####### 2/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/36997771.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 148 in current file
Rows in DB_frame: 625518
Deleted 0 duplicates
Done.
####### 3/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/32662713.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 57 in current file
Rows in DB_frame: 625575
Deleted 0 duplicates
Done.
####### 4/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39274670.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4 in current file
Rows in DB_frame: 625579
Deleted 0 duplicates
Done.
####### 5/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38503489.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1902 in current file
Rows in DB_frame: 627481
Deleted 2 duplicates
Done.
####### 6/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39120419.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2949 in current file
Rows in DB_frame: 630428
Deleted 0 duplicates
Done.
####### 7/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39043764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 192 in current file
Rows in DB_frame: 630620
Deleted 0 duplicates
Done.
####### 8/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/31588854.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1664 in current file
Rows in DB_frame: 632284
Deleted 0 duplicates
Done.
####### 9/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39108433.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 328 in current file
Rows in DB_frame: 632612
Deleted 0 duplicates
Done.
####### 10/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/40505181.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 43 in current file
Rows in DB_frame: 632655
Deleted 0 duplicates
Done.
####### 11/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41455095.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 127 in current file
Rows in DB_frame: 632782
Deleted 1 duplicates
Done.
####### 12/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39185764.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 335 in current file
Rows in DB_frame: 633116
Deleted 0 duplicates
Done.
####### 13/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/37725526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 695 in current file
Rows in DB_frame: 633811
Deleted 135 duplicates
Done.
####### 14/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41229606.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 589 in current file
Rows in DB_frame: 634265
Deleted 0 duplicates
Done.
####### 15/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38388904.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 724 in current file
Rows in DB_frame: 634989
Deleted 0 duplicates
Done.
####### 16/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/42121082.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 153 in current file
Rows in DB_frame: 635142
Deleted 0 duplicates
Done.
####### 17/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/22954177.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 223 in current file
Rows in DB_frame: 635365
Deleted 0 duplicates
Done.
####### 18/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/19396526.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 233 in current file
Rows in DB_frame: 635598
Deleted 0 duplicates
Done.
####### 19/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39031869.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1150 in current file
Rows in DB_frame: 636748
Deleted 1 duplicates
Done.
####### 20/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/14307417.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 981 in current file
Rows in DB_frame: 637728
Deleted 0 duplicates
Done.
####### 21/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/37827970.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 46 in current file
Rows in DB_frame: 637774
Deleted 0 duplicates
Done.
####### 22/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/37603590.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 161 in current file
Rows in DB_frame: 637935
Deleted 0 duplicates
Done.
####### 23/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/42918383.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 808 in current file
Rows in DB_frame: 638743
Deleted 0 duplicates
Done.
####### 24/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/35662721.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3542 in current file
Rows in DB_frame: 642285
Deleted 0 duplicates
Done.
####### 25/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/25046658.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 7434 in current file
Rows in DB_frame: 649719
Deleted 93 duplicates
Done.
####### 26/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/36592650.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 247 in current file
Rows in DB_frame: 649873
Deleted 0 duplicates
Done.
####### 27/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/37219763.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3916 in current file
Rows in DB_frame: 653789
Deleted 0 duplicates
Done.
####### 28/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/42853693.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 710 in current file
Rows in DB_frame: 654499
Deleted 0 duplicates
Done.
####### 29/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41930148.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 65 in current file
Rows in DB_frame: 654564
Deleted 0 duplicates
Done.
####### 30/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/33151525.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 335 in current file
Rows in DB_frame: 654899
Deleted 0 duplicates
Done.
####### 31/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/40429059.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 271 in current file
Rows in DB_frame: 655170
Deleted 0 duplicates
Done.
####### 32/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38453790.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 299 in current file
Rows in DB_frame: 655469
Deleted 0 duplicates
Done.
####### 33/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/43207280.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3279 in current file
Rows in DB_frame: 658748
Deleted 866 duplicates
Done.
####### 34/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/40380511.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 5211 in current file
Rows in DB_frame: 663093
Deleted 2 duplicates
Done.
####### 35/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39966290.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 134 in current file
Rows in DB_frame: 663225
Deleted 0 duplicates
Done.
####### 36/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/31955805.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1542 in current file

Rows in DB_frame: 664767
Deleted 0 duplicates
Done.
####### 37/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38264719.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 1101 in current file
Rows in DB_frame: 665868
Deleted 0 duplicates
Done.
####### 38/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/38797324.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 4599 in current file
Rows in DB_frame: 670467
Deleted 246 duplicates
Done.
####### 39/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41987990.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 3 in current file
Rows in DB_frame: 670224
Deleted 0 duplicates
Done.
####### 40/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41047380.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2776 in current file
Rows in DB_frame: 673000
Deleted 0 duplicates
Done.
####### 41/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/39773126.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 5340 in current file
Rows in DB_frame: 678340
Deleted 1 duplicates
Done.
####### 42/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/42346980.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 7823 in current file
Rows in DB_frame: 686162
Deleted 4 duplicates
Done.
####### 43/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/41189553.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 16117 in current file
Rows in DB_frame: 702275
Deleted 347 duplicates
Done.
####### 44/44 Work with /home/das/db_develop/nalog_copy/2021.11.19/вих46 (5)/36703454.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 472 in current file
Rows in DB_frame: 702400
Deleted 0 duplicates
Done.
####### 1/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/37416830.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2428 in current file
Rows in DB_frame: 704828
Deleted 0 duplicates
Done.
####### 2/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/43399462.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 841 in current file
Rows in DB_frame: 705669
Deleted 0 duplicates
Done.
####### 3/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/32972638 (1).xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 609 in current file
Rows in DB_frame: 706278
Deleted 0 duplicates
Done.
####### 4/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/44139353 (1).xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 237 in current file
Rows in DB_frame: 706515
Deleted 0 duplicates
Done.
####### 5/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/30520727.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 740 in current file
Rows in DB_frame: 707255
Deleted 0 duplicates
Done.
####### 6/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/43054075.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 982 in current file
Rows in DB_frame: 708237
Deleted 0 duplicates
Done.
####### 7/7 Work with /home/das/db_develop/nalog_copy/2021.11.20/вих/37076185.xls:
Read excel file
Deleted 0 duplicates in current file
Rows count: 2929 in current file
Rows in DB_frame: 711166
Deleted 0 duplicates
Done.
CPU times: user 6min 41s, sys: 298 ms, total: 6min 42s
Wall time: 6min 42s

In [14]:
%%time

if 'ID' in df_all_year_in_base.columns:
    df_all_year_in_base.drop('ID',axis=1, errors='ignore', inplace=True)
print("Clear from duplicates ...")
df_all_year_in_base.drop_duplicates(inplace=True)
print("Convert date columns ...")
df_all_year_in_base['ordering_date'] = pd.to_datetime(df_all_year_in_base['ordering_date'], format='%Y-%m-%d %H:%M:%S')
df_all_year_in_base['registration_date'] = pd.to_datetime(df_all_year_in_base['registration_date'])
print("ReClear from duplicates...")
df_all_year_in_base.drop_duplicates(inplace=True)

Clear from duplicates ...
Convert date columns ...
ReClear from duplicates...
CPU times: user 14 s, sys: 18.8 ms, total: 14 s
Wall time: 14 s

In [15]:
%%time
# Wall time: 6min 48s
with engine.connect() as connection:
    print("Clear period in DB...")
    connection.execute('delete from '+bkp_table+' where  ordering_date >= \'2020-01-01\' and ordering_date <= \''+date_now+'\'')
    print("Upload data to DB...")
    df_all_year_in_base.to_sql(bkp_table, connection, if_exists='append', index=False)

CPU times: user 2min 39s, sys: 39 s, total: 3min 18s
Wall time: 6min 48s

In [21]:
%%time
## !!!!!!!!!!!!!
## DO service postgresql restart before this part!
## !!!!!!!!!!!!!
with engine.connect() as connection:
    print("Rename current table to rev... Лучше вручную! - виснет....")
    connection.execute('ALTER TABLE '+tableName+' RENAME TO '+tableName+'2;')
    print("Rename backup table to current...")
    connection.execute('ALTER TABLE '+bkp_table+' RENAME TO  '+tableName+';')
    print("Rename edrpu #0...")
    connection.execute('update '+tableName+' set buyer_name = \'Неплательщики/Иностранные покупатели\' where buyer_edrpou = 0;')
    connection.execute('update '+tableName+' set seller_name = \'Неплательщики/Иностранные покупатели\' where seller_edrpou = 0;')

    
print('Work finished')
print(df_all_year_in_base.shape)

Rename current table to rev... Лучше вручную! - виснет....
Rename backup table to current...
Rename edrpu #0...
Work finished
(711166, 30)
CPU times: user 13.6 ms, sys: 505 µs, total: 14.1 ms
Wall time: 4.37 s

In [32]:
%%time
for tableName in ['reestr_staging','credit_staging']:
    sql='select * from '+tableName+';'
    print(sql)
    df_pgsql =  pd.read_sql(sql, con=pgdbConnection)


    if 'ID' in df_pgsql.columns: 
        df_pgsql.drop('ID',axis=1, errors='ignore', inplace=True)
    print("Clear duplicates ...")
    rows1=df_pgsql.shape[0]
    print('Rows before deduplicate: '+str(rows1) )
    df_pgsql.drop_duplicates(inplace=True)
    rows2=df_pgsql.shape[0]
    print('Deleted '+str(rows1-rows2)+' duplicates ('+str(round(100-rows2/rows1*100,2))+'%)')

    engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')
    pgdbConnection    = engine.connect()

    #connection to use with raw sql
    connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
    connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
    cursor = connection.cursor()
    bkp_table = tableName+'_deduped'
    with engine.connect() as connection:
        print("Drop temporary table if it exist...")
        connection.execute('DROP TABLE IF EXISTS '+bkp_table+';')
        print("Create new empty tmp table...")
        connection.execute('CREATE TABLE '+bkp_table+' AS TABLE '+tableName+' WITH NO DATA;')
        print("Upload deduplicated data from dataframe to db...")
        df_pgsql.to_sql(bkp_table, connection, if_exists='append', index=False)
        print("Move current table to trash...")
        connection.execute('RENAME TABLE '+tableName+' TO '+tableName+'_old_deleteme;')
        print("Rename backup table to current...")
        connection.execute('RENAME TABLE '+bkp_table+' TO '+tableName+';')
    print("Upload to sql done.")

select * from reestr_staging;
Clear duplicates ...
Rows before deduplicate: 1093970
Deleted 3298 duplicates (0.3%)
Drop temporary table if it exist...
Create new empty tmp table...
Upload deduplicated data from dataframe to db...
Move current table to trash...

ProgrammingError: (psycopg2.errors.SyntaxError) ОШИБКА:  ошибка синтаксиса (примерное положение: "RENAME")
LINE 1: RENAME TABLE reestr_staging TO reestr_staging_old_deleteme;
        ^

[SQL: RENAME TABLE reestr_staging TO reestr_staging_old_deleteme;]
(Background on this error at: http://sqlalche.me/e/13/f405)