In [1]:
import pandas as pd
import glob
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql

# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')
pgdbConnection    = engine.connect()

#connection to use with raw sql
connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

In [2]:
product_filter='('
filter_codes=[ '7321%','7323%','7324%','7615%','8208%','8210%','8215%','8414%','8415%','8417%','8418%','8419%','8420%','8421%','8422%','8423%','8428%','8435%','8437%','8438%','8450%','8481%','8509%','8514%','8516%','8543%','9025%','9032%','9105%','9403%','9405%','9603%','9604%','9617%','8476%','9406%','3401%','3402%' ] 
for code in filter_codes:
    product_filter+='product_code::text LIKE \''+code+'\''
    if filter_codes[len(filter_codes)-1] != code:
        product_filter+=' OR '
product_filter+=')'
print(product_filter)

(product_code::text LIKE '7321%' OR product_code::text LIKE '7323%' OR product_code::text LIKE '7324%' OR product_code::text LIKE '7615%' OR product_code::text LIKE '8208%' OR product_code::text LIKE '8210%' OR product_code::text LIKE '8215%' OR product_code::text LIKE '8414%' OR product_code::text LIKE '8415%' OR product_code::text LIKE '8417%' OR product_code::text LIKE '8418%' OR product_code::text LIKE '8419%' OR product_code::text LIKE '8420%' OR product_code::text LIKE '8421%' OR product_code::text LIKE '8422%' OR product_code::text LIKE '8423%' OR product_code::text LIKE '8428%' OR product_code::text LIKE '8435%' OR product_code::text LIKE '8437%' OR product_code::text LIKE '8438%' OR product_code::text LIKE '8450%' OR product_code::text LIKE '8481%' OR product_code::text LIKE '8509%' OR product_code::text LIKE '8514%' OR product_code::text LIKE '8516%' OR product_code::text LIKE '8543%' OR product_code::text LIKE '9025%' OR product_code::text LIKE '9032%' OR product_code::text LIKE '9105%' OR product_code::text LIKE '9403%' OR product_code::text LIKE '9405%' OR product_code::text LIKE '9603%' OR product_code::text LIKE '9604%' OR product_code::text LIKE '9617%' OR product_code::text LIKE '8476%' OR product_code::text LIKE '9406%' OR product_code::text LIKE '3401%' OR product_code::text LIKE '3402%')

In [3]:
#  TRUNCATE ALL TABLES (uncomment)
#tables= ["gtd","records","nl_reestr","nl_credit","organisation","trademark","sender","country","exchange","tm_alias"]


tables= ["gtd_records","records","organisation","trademark","sender","country"]

for t in tables:
    sql_command = "TRUNCATE " + t + " RESTART IDENTITY CASCADE;"
    print(sql_command)
    # !!! UN"print" FOR EXECUTE !!!!!
    print(cursor.execute(sql_command))
    print(connection.commit())

TRUNCATE gtd_records RESTART IDENTITY CASCADE;
None
None
TRUNCATE records RESTART IDENTITY CASCADE;
None
None
TRUNCATE organisation RESTART IDENTITY CASCADE;
None
None
TRUNCATE trademark RESTART IDENTITY CASCADE;
None
None
TRUNCATE sender RESTART IDENTITY CASCADE;
None
None
TRUNCATE country RESTART IDENTITY CASCADE;
None
None

In [4]:
%%time
#table_name = 'tm_alias'
#mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
#mydbConnection    = mysqlEngine.connect()
#df_tmalias = pd.read_sql('select * from sender_trademark', con=mydbConnection)
#df_tmalias.to_sql(table_name, engine, if_exists='replace',index=False)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.63 µs

In [5]:
%%time
# +
# Wall time: 1min 11s
table_name = 'country'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "insert into "+table_name+" (\"name\") select distinct upper(trim(country)) as country from records_staging where country IS NOT NULL AND "+product_filter+" ORDER BY country";
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE country RESTART IDENTITY CASCADE;
insert into country ("name") select distinct upper(trim(country)) as country from records_staging where country IS NOT NULL AND (product_code::text LIKE '7321%' OR product_code::text LIKE '7323%' OR product_code::text LIKE '7324%' OR product_code::text LIKE '7615%' OR product_code::text LIKE '8208%' OR product_code::text LIKE '8210%' OR product_code::text LIKE '8215%' OR product_code::text LIKE '8414%' OR product_code::text LIKE '8415%' OR product_code::text LIKE '8417%' OR product_code::text LIKE '8418%' OR product_code::text LIKE '8419%' OR product_code::text LIKE '8420%' OR product_code::text LIKE '8421%' OR product_code::text LIKE '8422%' OR product_code::text LIKE '8423%' OR product_code::text LIKE '8428%' OR product_code::text LIKE '8435%' OR product_code::text LIKE '8437%' OR product_code::text LIKE '8438%' OR product_code::text LIKE '8450%' OR product_code::text LIKE '8481%' OR product_code::text LIKE '8509%' OR product_code::text LIKE '8514%' OR product_code::text LIKE '8516%' OR product_code::text LIKE '8543%' OR product_code::text LIKE '9025%' OR product_code::text LIKE '9032%' OR product_code::text LIKE '9105%' OR product_code::text LIKE '9403%' OR product_code::text LIKE '9405%' OR product_code::text LIKE '9603%' OR product_code::text LIKE '9604%' OR product_code::text LIKE '9617%' OR product_code::text LIKE '8476%' OR product_code::text LIKE '9406%' OR product_code::text LIKE '3401%' OR product_code::text LIKE '3402%') ORDER BY country
Done.
CPU times: user 4.37 ms, sys: 671 µs, total: 5.04 ms
Wall time: 1min 11s

In [ ]:
%%time
# +
# Wall time: 1min 32s
table_name = 'sender'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + "(name,country_id) SELECT DISTINCT UPPER (TRIM (r.sender_name)) :: VARCHAR AS NAME,C.ID :: BIGINT AS country_id FROM records_staging r LEFT JOIN country C ON C.NAME=UPPER (TRIM (r.country)) WHERE r.sender_name IS NOT NULL  AND "+product_filter+" ORDER BY NAME"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE sender RESTART IDENTITY CASCADE;
INSERT INTO sender(name,country_id) SELECT DISTINCT UPPER (TRIM (r.sender_name)) :: VARCHAR AS NAME,C.ID :: BIGINT AS country_id FROM records_staging r LEFT JOIN country C ON C.NAME=UPPER (TRIM (r.country)) WHERE r.sender_name IS NOT NULL  AND (product_code::text LIKE '7321%' OR product_code::text LIKE '7323%' OR product_code::text LIKE '7324%' OR product_code::text LIKE '7615%' OR product_code::text LIKE '8208%' OR product_code::text LIKE '8210%' OR product_code::text LIKE '8215%' OR product_code::text LIKE '8414%' OR product_code::text LIKE '8415%' OR product_code::text LIKE '8417%' OR product_code::text LIKE '8418%' OR product_code::text LIKE '8419%' OR product_code::text LIKE '8420%' OR product_code::text LIKE '8421%' OR product_code::text LIKE '8422%' OR product_code::text LIKE '8423%' OR product_code::text LIKE '8428%' OR product_code::text LIKE '8435%' OR product_code::text LIKE '8437%' OR product_code::text LIKE '8438%' OR product_code::text LIKE '8450%' OR product_code::text LIKE '8481%' OR product_code::text LIKE '8509%' OR product_code::text LIKE '8514%' OR product_code::text LIKE '8516%' OR product_code::text LIKE '8543%' OR product_code::text LIKE '9025%' OR product_code::text LIKE '9032%' OR product_code::text LIKE '9105%' OR product_code::text LIKE '9403%' OR product_code::text LIKE '9405%' OR product_code::text LIKE '9603%' OR product_code::text LIKE '9604%' OR product_code::text LIKE '9617%' OR product_code::text LIKE '8476%' OR product_code::text LIKE '9406%' OR product_code::text LIKE '3401%' OR product_code::text LIKE '3402%') ORDER BY NAME

In [ ]:
%%time
# +
# Wall time: 2min 40s
table_name = 'trademark'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO "+table_name+"(name) select distinct UPPER(TRIM(trademark))::varchar as \"name\" from records_staging as r WHERE length(trademark) > 1  AND "+product_filter+" ORDER BY \"name\""
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
# +
# Wall time: 1min 2s

table_name = 'organisation' # and competitors 
#mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
#mydbConnection    = mysqlEngine.connect()
#  competitors now loads from external file
#df_competitors = pd.read_sql('SELECT * FROM `competitors`', con=mydbConnection)
#df_competitors.to_sql("competitors", engine, if_exists='replace',index=False)
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + "(name, edrpou, is_competitor, firm_alias)  select distinct MIN(UPPER(TRIM(recipient_name)))::varchar as \"name\", recipient_code as edrpou, case when recipient_code in(SELECT competitor_code from competitors) then TRUE else FALSE end as is_competitor, c.competitor_name as firm_alias from records_staging left join competitors c on recipient_code::text = c.competitor_code::text WHERE length(recipient_name) > 1 AND recipient_code is not null AND (product_code::text LIKE '7321%' OR product_code::text LIKE '7323%' OR product_code::text LIKE '7324%' OR product_code::text LIKE '7615%' OR product_code::text LIKE '8208%' OR product_code::text LIKE '8210%' OR product_code::text LIKE '8215%' OR product_code::text LIKE '8414%' OR product_code::text LIKE '8415%' OR product_code::text LIKE '8417%' OR product_code::text LIKE '8418%' OR product_code::text LIKE '8419%' OR product_code::text LIKE '8420%' OR product_code::text LIKE '8421%' OR product_code::text LIKE '8422%' OR product_code::text LIKE '8423%' OR product_code::text LIKE '8428%' OR product_code::text LIKE '8435%' OR product_code::text LIKE '8437%' OR product_code::text LIKE '8438%' OR product_code::text LIKE '8450%' OR product_code::text LIKE '8481%' OR product_code::text LIKE '8509%' OR product_code::text LIKE '8514%' OR product_code::text LIKE '8516%' OR product_code::text LIKE '8543%' OR product_code::text LIKE '9025%' OR product_code::text LIKE '9032%' OR product_code::text LIKE '9105%' OR product_code::text LIKE '9403%' OR product_code::text LIKE '9405%' OR product_code::text LIKE '9603%' OR product_code::text LIKE '9604%' OR product_code::text LIKE '9617%' OR product_code::text LIKE '8476%' OR product_code::text LIKE '9406%' OR product_code::text LIKE '3401%' OR product_code::text LIKE '3402%') group by recipient_code, firm_alias order by recipient_code"    
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "UPDATE organisation SET name='ТОВ \"СП КОНТАКТ\"' where edrpou = '25046658'"    
print(sql_command)
cursor.execute(sql_command)
connection.commit()

print("Done.")

In [ ]:
%%time
# +
table_name = 'tnved_group'
mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
mydbConnection    = mysqlEngine.connect()
df_groupcodes = pd.read_sql('SELECT * FROM `groupcodes`', con=mydbConnection)
print(df_groupcodes.head())
df_groupcodes.to_sql(table_name, engine, if_exists='replace',index=False)
#sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#sql_command = "INSERT INTO " + table_name + "(gcodes,gname) select gcodes::integer,gname from "+table_name+"_tmp"    
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#print("Done.")

In [ ]:
# ДО 01.05.2023 необходимо перенести импорт коммерческих курсов с 58.251 на 58.255, в этом скрипте уже не используется mysql

table_name = 'exchange'
sql_command = " TRUNCATE " + table_name + "_tmp RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = " TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
query='SELECT DISTINCT cm.DATE,cf.EUR_COM,cf.EUR_NBU,cf.USD_COM,cf.USD_NBU,cm.mb_eur_buy AS EUR_MB_BUY,cm.mb_eur_sale AS EUR_MB_SALE FROM exchange_mb AS cm LEFT JOIN exchange_nbu_com AS cf ON cm.DATE=cf.DATE'
print(query)
df_exchange = pd.read_sql(query, con=pgdbConnection)

print(max(df_exchange['date']))
#df_exchange.drop_duplicates(inplace=True)
# заполнение пустых (отсутствующих) дат
df_exchange['date']= pd.to_datetime(df_exchange['date'])
df_exchange = df_exchange.sort_values(by=['date'])
df_exchange = df_exchange.set_index('date')
print(df_exchange.tail())
print(df_exchange.shape)
df_exchange = df_exchange.asfreq('d').fillna(method='ffill')
#df_exchange = df_exchange.fillna(method='ffill').reset_index()
print(df_exchange.shape)
df_exchange.to_sql(table_name+"_tmp", pgdbConnection, if_exists='replace') 
sql_command = "INSERT INTO " + table_name + " SELECT date,\"eur_com\" :: REAL AS \"EUR-COM\",\"eur_nbu\" :: REAL AS \"EUR-NBU\",\"usd_com\" :: REAL AS \"USD-COM\",\"usd_nbu\" :: REAL AS \"USD-NBU\",\"eur_mb_buy\" :: REAL AS \"EUR-MB-BUY\",\"eur_mb_sale\" :: REAL AS \"EUR-MB-SALE\" FROM "+table_name+"_tmp"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
%%time
# +
# Wall time: 21min 44s
table_name = 'records'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
#sql_command = "INSERT INTO " + table_name + " (date,sender_id,recipient_id,gtd_name,exchange_id) SELECT DISTINCT rs.DATE,s.ID AS sender_id,o.ID AS recipient_id,gtd AS gtd_name,e.id AS exchange_id FROM records_staging rs LEFT JOIN organisation o ON rs.recipient_code=o.edrpou LEFT JOIN country C ON UPPER(TRIM(rs.country))=UPPER(TRIM(C.NAME)) LEFT JOIN sender s ON UPPER(TRIM(rs.sender_name))=UPPER(TRIM(s.NAME)) AND s.country_id=C.ID LEFT JOIN exchange e ON rs.date=e.date :: date WHERE "+product_filter       
sql_command = "INSERT INTO " + table_name + " (date,sender_id,recipient_id,gtd_name,exchange_id) SELECT * FROM (SELECT DISTINCT rs.DATE,s.ID AS sender_id,o.ID AS recipient_id,gtd AS gtd_name,e.id AS exchange_id FROM records_staging rs LEFT JOIN organisation o ON rs.recipient_code=o.edrpou LEFT JOIN country C ON UPPER(TRIM(rs.country))=UPPER(TRIM(C.NAME)) LEFT JOIN sender s ON UPPER(TRIM(rs.sender_name))=UPPER(TRIM(s.NAME)) AND s.country_id=C.ID LEFT JOIN exchange e ON LEFT(rs.date::text,10)=LEFT(e.date::text,10) WHERE "+product_filter+" ) rr WHERE rr.exchange_id IS NOT NULL"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
# Wall time: 1h 9min 44s
# +
# if @@ NotNullViolation: ОШИБКА:  нулевое значение в столбце "record_id" нарушает ограничение NOT NULL
# see null (non-existent) dates in exchange table +++
table_name = 'gtd_records'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (record_id,product_code,description,trademark_id,cost_fact,cost_customs) SELECT r2.ID AS record_id,r.product_code AS product_code,r.description AS description,T.ID AS trademark_id,r.cost_fact AS cost_fact,r.cost_customs AS cost_customs FROM records_staging r LEFT JOIN trademark T ON UPPER (TRIM (r.trademark))=T.NAME LEFT JOIN organisation o ON r.recipient_code=o.edrpou LEFT JOIN country C ON UPPER (TRIM (r.country))=UPPER (TRIM (C.NAME)) LEFT JOIN sender s ON UPPER (TRIM (r.sender_name))=UPPER (TRIM (s.NAME)) AND s.country_id=C.ID LEFT JOIN records r2 ON UPPER (TRIM (r.gtd))=r2.gtd_name AND r2.\"date\" :: DATE = r.\"date\" :: DATE  WHERE "+product_filter   
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

NALOG PART
--------

In [ ]:
FOOD_FILTER_LIST = ["32858983","38397840","38231264"]
PACK_FILTER_LIST = ["37875631","41089457","30209891","31024503","25268212","22412950","30663762","36297318","42547583"]
OTHER_FILTER_LIST = ["32739728"]

In [ ]:
%%time
table_name = 'nl_product'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (name,product_code) SELECT DISTINCT UPPER(product_name) AS NAME, max(product_code) FROM (SELECT DISTINCT product_name, product_code FROM credit_staging UNION SELECT DISTINCT product_name, product_code FROM reestr_staging) AS p GROUP BY NAME ORDER BY NAME"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
table_name = 'nl_org'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (edrpou,NAME) SELECT DISTINCT o.edrpou :: BIGINT AS edrpou,MIN (NAME) AS NAME FROM (SELECT DISTINCT seller_edrpou AS edrpou,seller_name AS NAME FROM credit_staging UNION SELECT DISTINCT seller_edrpou AS edrpou,seller_name AS NAME FROM reestr_staging UNION SELECT DISTINCT buyer_edrpou AS edrpou,buyer_name AS NAME FROM reestr_staging UNION SELECT DISTINCT buyer_edrpou AS edrpou,buyer_name AS NAME FROM credit_staging) AS o GROUP BY edrpou ORDER BY edrpou"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command= "update nl_org set \"class\" = (select id from nl_org_class where nl_org_class.name = 'FOOD') WHERE edrpou IN ('"+"','".join(FOOD_FILTER_LIST)+"')"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command= "update nl_org set \"class\" = (select id from nl_org_class where nl_org_class.name = 'PACK') WHERE edrpou IN ('"+"','".join(PACK_FILTER_LIST)+"')"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command= "update nl_org set \"class\" = (select id from nl_org_class where nl_org_class.name = 'OTHER') WHERE edrpou IN ('"+"','".join(OTHER_FILTER_LIST)+"')"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

# Слияние конкурентов из ВЕД и внутреннего рынка. Нужно выяснить есть ли в этом необходимость.
# Если возникает ошибка "нет уникального ограничения или ограничения-исключения, соответствующего указанию ON CONFLICT" cnjk,tw competitor_code нужно сделать уникальным.
#sql_command= "insert into competitors(competitor_code, competitor_surname) select distinct seller_edrpou as competitor_code, min(seller_name) as competitor_surname from reestr_staging  where ordering_date >= '2017-01-01' group by seller_edrpou order by seller_edrpou ON CONFLICT (competitor_code) DO NOTHING; "
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()

print("Done.")

In [ ]:
%%time
table_name = 'nl_credit'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (doc_id,reestr_number,ordering_date,unit,one_product_cost,count,product_id,seller_id,buyer_id,exchange_id) SELECT s.doc_id :: BIGINT AS doc_id,s.reestr_number :: BIGINT AS reestr_number,s.ordering_date,s.unit,s.one_product_cost :: DOUBLE PRECISION AS one_product_cost,s.count:: DOUBLE PRECISION AS count,p.id AS product_id,os.id AS seller_id,ob.id AS buyer_id,e.id AS exchange_id FROM credit_staging AS s LEFT JOIN nl_product AS p ON UPPER(s.product_name)=UPPER(p.NAME) LEFT JOIN nl_org AS os ON os.edrpou=s.seller_edrpou :: BIGINT LEFT JOIN nl_org AS ob ON ob.edrpou=s.buyer_edrpou :: BIGINT LEFT JOIN exchange AS e on s.ordering_date::date = e.date WHERE count not LIKE '%E%' and ordering_date > '2016-12-31' ORDER BY ordering_date DESC"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
table_name = 'nl_reestr'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO nl_reestr (doc_id,reestr_number,ordering_date,unit,one_product_cost,count,product_id,seller_id,buyer_id,exchange_id) SELECT r.doc_id::BIGINT AS doc_id,r.reestr_number :: BIGINT AS reestr_number,r.ordering_date :: date,r.unit,r.one_product_cost :: DOUBLE PRECISION AS one_product_cost,r.count:: DOUBLE PRECISION AS count,p.id AS product_id,os.id AS seller_id,ob.id AS buyer_id,e.id AS exchange_id  FROM reestr_staging AS r LEFT JOIN nl_product AS p ON UPPER(r.product_name)=UPPER(p.NAME) LEFT JOIN nl_org AS os ON os.edrpou=r.seller_edrpou :: BIGINT LEFT JOIN nl_org AS ob ON ob.edrpou=r.buyer_edrpou :: BIGINT LEFT JOIN exchange AS e on r.ordering_date::date = e.date WHERE count not LIKE '%E%'  and ordering_date > '2016-12-31'"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")