In [2]:
import pandas as pd
import glob
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql
from pyxlsb import convert_date

In [3]:
# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.58.55:5432/anamnez_copy')

#connection to use with raw sql
connection = pg.connect("host='192.168.58.55' dbname=anamnez_copy user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

RECORDS STAGING PART
======================

In [15]:
# Пример пути all_files = glob.glob("F:/anamnez/in/**/ПЗ*.csv", recursive=True)
#all_files = glob.glob("/home/das/db_develop/src_files/full/2018/*.xlsx", recursive=True)
all_files = sorted(glob.glob("/home/das/db_develop/src_copy/2022/_04*.xlsx", recursive=True))
#all_files.append(sorted(glob.glob("/home/das/db_develop/src_copy/2021/imp12_.xlsb", recursive=True))[0])
#all_files.append(sorted(glob.glob("/home/das/db_develop/src_copy/2021/imp10_.xlsx", recursive=True))[0])
print(all_files)

['/home/das/db_develop/src_copy/2022/_04-нет ТМ.xlsx']

In [16]:
dst_table_name="records_staging"
tmp_table_name = dst_table_name+'_tmp'

In [ ]:

#sql_command = "DROP TABLE IF EXISTS %s;"%tmp_table_name;
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#sql_command = "CREATE INDEX unique_recs ON %s ((description || ' ' || gtd));"%dst_table_name;
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()

In [17]:

# Создаем копию таблицы: структура без данных
sql_command = "DROP TABLE IF EXISTS "+tmp_table_name+"; create table "+tmp_table_name+" as table "+dst_table_name+" WITH NO DATA; alter table "+dst_table_name+" drop column if exists id;"
                    
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

DROP TABLE IF EXISTS records_staging_tmp; create table records_staging_tmp as table records_staging WITH NO DATA; alter table records_staging drop column if exists id;
Done.

In [18]:
%%time
# Wall time: 1h 44min 49s (12+7 files)



## In case @IndexError list index out of range@ you must open caused file,
## copy matching data, paste only values and save in new file as xlsx
# Такое возникает при использовании xlsb файлов
# преобразование timestamp даты в текст (excel): =ТЕКСТ(E2;"дд.ММ.гг Ч:мм")

for file in all_files:
    df_file=pd.DataFrame()
    if (file.find('.xlsx')>0):
        print("Loading xlsx file: "+file)
        df_file=pd.read_excel(file)
    if (file.find('.xlsb')>0):
        print("Loading xlsb file: "+file)
        df_file=pd.read_excel(file, engine='pyxlsb')
        df_file['date']=df_file['date'].apply(convert_date) # convert date from xlsb format (123456.789012) to datetime
    print("Loading done")
    df=df_file
    #df['date'] = pd.to_datetime(df['date'],format='%d-%m-%Y', errors='coerce')
    #print(df['date'][1])
    #df['date']=df['date'].dt.date
    print(1)
    df['cost_fact']=df['cost_fact'].str.replace(' ', '')
    df['cost_customs']=df['cost_customs'].str.replace(' ', '')
    df=df.round({'cost_fact': 2, 'cost_customs': 2})
    print(2)
    #df['gtd']=df['gtd'].apply(lambda x: x.replace(" ",""))
    print(3)
    df['trademark']=df['trademark'].str.strip()
    print(4)
    before_rows=df.shape[0]
    print(5)
    df.drop_duplicates(subset=['description','date','gtd'],inplace=True)
    print(6)
    after_rows=df.shape[0]
    print('Removed '+str(before_rows - after_rows)+' duplicates')
    df['hash'] = df.apply(lambda x: hash(tuple(x)), axis = 1)
    print("Save file: "+file+" to database table " + tmp_table_name)
    df.to_sql(tmp_table_name, engine, if_exists='append',index=False)
    print("Done.")

## uncomment if if_exists = 'replace'
#sql_command='ALTER TABLE '+table_name+' ADD CONSTRAINT "hash" UNIQUE ("hash");'
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
print(df['date'][0])

Loading xlsx file: /home/das/db_develop/src_copy/2022/_04-нет ТМ.xlsx
Loading done
1
2
3
4
5
6
Removed 10150 duplicates
Save file: /home/das/db_develop/src_copy/2022/_04-нет ТМ.xlsx to database table records_staging_tmp

ProgrammingError: (psycopg2.errors.DatatypeMismatch) ОШИБКА:  столбец "date" имеет тип timestamp without time zone, а выражение - integer
LINE 1: ...t_fact, cost_customs, gtd, hash) VALUES (0, 0, 0, 0, 0, NULL...
                                                             ^
HINT:  Перепишите выражение или преобразуйте его тип.

[SQL: INSERT INTO records_staging_tmp (sender_name, recipient_code, recipient_name, date, product_code, trademark, description, cost_fact, cost_customs, gtd, hash) VALUES (%(sender_name)s, %(recipient_code)s, %(recipient_name)s, %(date)s, %(product_code)s, %(trademark)s, %(description)s, %(cost_fact)s, %(cost_customs)s, %(gtd)s, %(hash)s)]
[parameters: ({'sender_name': 0, 'recipient_code': 0, 'recipient_name': 0, 'date': 0, 'product_code': 0, 'trademark': None, 'description': 0, 'cost_fact': None, 'cost_customs': None, 'gtd': 0, 'hash': -7222447081605638768}, {'sender_name': 'SCHMITZ CARGOBULL AG BAHNHOFSTRASSE 22 D 48612 HORSTMAR НІМЕЧЧИНА', 'recipient_code': 38800944, 'recipient_name': 'ТОВ ШМІТЦ КАРГОБУЛ УКРАЇНА 03115 М КИЇВ ПР Т ПЕРЕМОГИ БУД 89 А БЛ 2 ОФ 10', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 8716393010, 'trademark': 'SCHMITZ CARGOBULL AG BAHNHOFSTRASSE 22 D 48612 HORSTMAR НІМЕЧЧИНА', 'description': 'НАПІВПРИЧІП ДЛЯ ПЕРЕВЕЗЕННЯ ВАНТАЖІВ ТЕНТОВИЙ ІЗ ЗСУВНИМ БОКОВИМ ТЕНТОМ У ВИКОНАННІ MEGA VARIOS ТРЬОХВІСНИЙ НОВИЙ К ТЬ 1 ШТ МАРКА SCHMITZ CARGOBULL Т ... (107 characters truncated) ... 2022 У КОМПЛЕКТАЦІЇ ЗГІДНО ТЕХНІЧНОЇ СПЕЦИФІКАЦІЇ ДОДАТОК 439 ВИРОБНИК SCHMITZ CARGOBULL AG КРАЇНА ВИРОБНИЦТВА DE ТОРГОВЕЛЬНА МАРКА SCHMITZ CARGOBULL', 'cost_fact': '27442', 'cost_customs': '28235', 'gtd': 'UA100060/13175', 'hash': 1798683086895227685}, {'sender_name': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'recipient_code': 42593950, 'recipient_name': 'ТОВ БАЧАТА УКРАЇНА 03110 М КИЇВ ВУЛ ПРЕОБРАЖЕНСЬКА БУДИНОК 39 8', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 4012909000, 'trademark': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'description': 'СТРІЧКИ ДЛЯ ОБОДІВ ГУМОВІ ДЛЯ ЗАХИСТУ КАМЕР ВІД МЕТАЛЕВОГО ОБОДА 16 00R20 ОБІДНА СТРІЧКА 88 ШТ КРАЇНА ВИРОБНИЦТВА CN ТОРГОВЕЛЬНА МАРКА DURATURN ВИРОБНИК SHAANXI YANCHANG PETROLEUM GROUP RUBBER CO LTD', 'cost_fact': '528', 'cost_customs': '927', 'gtd': 'UA100060/13180', 'hash': 4619039183149809685}, {'sender_name': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'recipient_code': 42593950, 'recipient_name': 'ТОВ БАЧАТА УКРАЇНА 03110 М КИЇВ ВУЛ ПРЕОБРАЖЕНСЬКА БУДИНОК 39 8', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 4011800000, 'trademark': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'description': 'ШИНИ ПНЕВМАТИЧНІ ГУМОВІ НОВІ ДЛЯ ПРОМИСЛОВИХ ТРАНСПОРТНИХ ЗАСОБІВ ВСЕСЕЗОННІ АВТОШИНА 16 00R20 174 171G Y811 DURATURN 88 ШТ АВТОШИНА 365 80R20 160K Y811 DURATURN Н Ш 16 TL 4 ШТ КРАЇНА ВИРОБНИЦТВА CN ТОРГОВЕЛЬНА МАРКА DURATURN ВИРОБНИК SHAANXI YANCHANG PETROLEUM GROUP RUBBER CO LTD', 'cost_fact': '38595', 'cost_customs': '50319', 'gtd': 'UA100060/13180', 'hash': -617324315457966790}, {'sender_name': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'recipient_code': 42593950, 'recipient_name': 'ТОВ БАЧАТА УКРАЇНА 03110 М КИЇВ ВУЛ ПРЕОБРАЖЕНСЬКА БУДИНОК 39 8', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 4011100090, 'trademark': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'description': 'ШИНИ ПНЕВМАТИЧНІ ГУМОВІ НОВІ ДЛЯ ЛЕГКОВИХ АВТОМОБІЛІВ АВТОШИНА 285 70R17 121 118Q TRAVIA M T DURATURN 12 ШТ КРАЇНА ВИРОБНИЦТВА CN ТОРГОВЕЛЬНА МАРКА DURATURN ВИРОБНИК SHAANXI YANCHANG PETROLEUM GROUP RUBBER CO LTD', 'cost_fact': '948', 'cost_customs': '1236', 'gtd': 'UA100060/13180', 'hash': 196062579179687290}, {'sender_name': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'recipient_code': 42593950, 'recipient_name': 'ТОВ БАЧАТА УКРАЇНА 03110 М КИЇВ ВУЛ ПРЕОБРАЖЕНСЬКА БУДИНОК 39 8', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 4013100010, 'trademark': "XIAN MITERAS TYRE CO LIMITEDNO 88 GAOXIN ROAD HIGH TECH DISTRICT XI'AN CITY SHAANXI", 'description': 'КАМЕРИ ГУМОВІ 16 00R20 КАМЕРА 88 ШТ КРАЇНА ВИРОБНИЦТВА CN ТОРГОВЕЛЬНА МАРКА DURATURN ВИРОБНИК SHAANXI YANCHANG PETROLEUM GROUP RUBBER CO LTD', 'cost_fact': '1584', 'cost_customs': '2065', 'gtd': 'UA100060/13180', 'hash': -5068968647059314479}, {'sender_name': 'AGC FLAT GLASS CZECH A S CLEN AGC GROUP ZAVOD KRYRY SKLAD MTZTOVARNI ULICE 43981 KRYRY CESKA REPUBLIKA', 'recipient_code': 33592291, 'recipient_name': 'ТОВ ЕЙ ДЖІ СІ ФЛЕТ ГЛАС УКРАЇНА 04071 М КИЇВ ВУЛ ЩЕКАВИЦЬКА 30 39 OФІС 329', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 7009910000, 'trademark': 'AGC FLAT GLASS CZECH A S CLEN AGC GROUP ZAVOD KRYRY SKLAD MTZTOVARNI ULICE 43981 KRYRY CESKA REPUBLIKA', 'description': 'ДЗЕРКАЛО MIROX MNGE БЕЗ РАМ БЕЗ КОНСТРУКТИВНИХ ОСОБЛИВОСТЕЙ В ЛИСТАХ ЗАВТОВШКИ 4 ММ MIROX MNGE GREY РОЗМІРУ 2250Х3210 ММ 837 81 М2 116 ЛИСТІВ У 4 ПАЧ ... (82 characters truncated) ... БРАЗНІЙ ПІРІМІДІ ПРИЗНАЧЕННЯ ДЛЯ ВИГОТОВЛЕННЯ ДЗЕРКАЛЬНИХ ВИРОБІВ ТОРГОВЕЛЬНА МАРКА MIROX NGE ВИРОБНИК AGC FLAT GLASS CZECH A S КРАЇНА ВИРОБНИЦТВА CZ', 'cost_fact': '14882', 'cost_customs': '16436', 'gtd': 'UA100060/13245', 'hash': -2999972772615523515}, {'sender_name': 'CLAAS SERVICE AND PARTS GMBH MUHLENWINKEL 1 D 33428 HARSEWINKEL DEUTSCHLAND', 'recipient_code': 30108105, 'recipient_name': "ТОВ КЛААС УКРАЇНА'03134 М КИЇВ СВЯТOШИНСЬКИЙ Р Н ВУЛ ПШЕНИЧНА БУД 9 УКРАЇНА", 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 7318210090, 'trademark': 'CLAAS SERVICE AND PARTS GMBH MUHLENWINKEL 1 D 33428 HARSEWINKEL DEUTSCHLAND', 'description': 'ЗАПАСНІ ЧАСТИНИ ДО С Г ТЕХНІКИ ВИРОБИ З ЧОРНИХ МЕТАЛІВ ВИРОБИ БЕЗ РІЗЬБИ ПРУЖИНИСТІ ШАЙБИ ТА ІНШІ СТОПОРНІ ШАЙБИ КІЛЬЦЕ СТОПОРНЕ ЧАСТИНА РЕДУКТОРА АРТ 0002363180 20 ШТ ВИРОБНИК CLAAS ТОРГОВЕЛЬНА МАРКА CLAAS КРАЇНА ВИРОБНИЦТВА IN', 'cost_fact': '10', 'cost_customs': '10', 'gtd': 'UA100060/13250', 'hash': -1785021015830710055}  ... displaying 10 of 207324 total bound parameter sets ...  {'sender_name': 'LUBRIZOL DEUTSCHLAND GMBHMAX PLANCK STR 6 27721 RITTERHUD GERMANY', 'recipient_code': 31385850, 'recipient_name': 'ПРАТ ІВП 39802 ПОЛТАВСЬКА ОБЛ М ГОРІШНІ ПЛАВНІ ВУЛ БУДІВЕЛЬНИКІВ 16', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 3811900000, 'trademark': 'LUBRIZOL DEUTSCHLAND GMBHMAX PLANCK STR 6 27721 RITTERHUD GERMANY', 'description': "БАГАТОФУНКЦІОНАЛЬНА ПРИСАДКА ЩО ВИКОРИСТОВУЄТЬСЯ В ВИРОБНИЦТВІ ТЕХНІЧНИХ ЕМУЛЬСІЙНИХ СУМІШЕЙ ДЛЯ ГІРНИЧНОЇ ПРОМИСЛОВИСТІ Є РОЗЧИНОМ ПОЛІЕФІНАМІНОЕФІР ... (163 characters truncated) ... OL 2820 19294 КГ ПИТОМА ВАГА 0 925 0 926 ПРИ 15 6 0С В'ЯЗКІСТЬ ПРИ 100 0С 147 4 148 1 153 8 АЗОТ 0 742 0 778 0771 КИСЛОТНЕ ЧИСЛО 20 19 ЛУЖНЕ ЧИСЛО 20", 'cost_fact': '64616', 'cost_customs': '64616', 'gtd': 'UA903180/1010', 'hash': 7292194426774492076}, {'sender_name': 'FOBEST S R O TRULN', 'recipient_code': 41918052, 'recipient_name': 'ТОВ ТУРБОГАЗ УЖГОРОД М УЖГОРОД ВУЛ БОЛГАРСЬКА БУД 3', 'date': datetime.datetime(2022, 4, 1, 0, 0), 'product_code': 2505100000, 'trademark': 'FOBEST S R O TRULN', 'description': 'ПІСОК ПРИРОДНІЙ НЕ ЗАБАРВЛЕНИЙ КВАРЦОВИЙ ПРИЗНАЧЕНИЙ ДЛЯ ВИКОРИСТАННЯ В ЯКОСТІ ВОГНЕТРИВКОЇ УЩІЛЬНЮЮЧОЇ СУМІШІ ПРИ ВИГОТОВЛЕННІ ЛИВАРНИХ ФОРМ ЯВЛЯЄ СОБОЮ ГРАНУЛИ ПРИРОДНОГО ПІСК\xa0У СЕРЕДНЬОЮ ВЕЛИЧИНОЮ ЗЕРНА 250 МІКРОН КРАЇНА ПОХОДЖЕННЯ PL', 'cost_fact': '1113', 'cost_customs': '2200', 'gtd': 'UA000000/9372', 'hash': -4804433023024400217})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
%%time
# Wall time: 4min 47s
#if update (query works - it's checked!!!)
# перед заливкой необходимо удалить primary_key в records_staging
# 1
sql_command = "alter table "+dst_table_name+" drop constraint if exists records_staging_pkey;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

# 2
sql_command = "insert into "+dst_table_name+" SELECT rst.sender_name,rst.recipient_code,rst.recipient_name,rst.product_code,rst.trademark,rst.description,rst.country,rst.cost_customs,rst.cost_fact,rst.date,rst.gtd,rst.hash FROM "+tmp_table_name+" rst LEFT JOIN "+dst_table_name+" rs USING (DATE) WHERE rs.DATE IS NULL ;"
#zero load
#sql_command = "insert into "+dst_table_name+" select * from "+table_name

#  ОШИБКА: нулевое значение в столбце "id" нарушает ограничение NOT NULL
# но ведь id у меня PRIMARY KEY и Not Null, он же должен автоматом генериться, не?
# Если у Вас тип integer, то нет.
# Для инкремента нужно использовать тип SERIAL.
print(sql_command)
cursor.execute(sql_command)
connection.commit()

sql_command = "alter table records_staging \
	add id serial not null;\
create unique index records_staging_id_uindex \
	on records_staging (id); \
alter table records_staging \
	add constraint records_staging_pk \
		primary key (id);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

print("Done.")

In [ ]:
%%time
## Удаление дубликатов в staging таблице
# нельзя использовать поле date, т.к. разные поставщики данных могут использовать только дату или дату+время
delete_duplicates="DELETE FROM records_staging r where exists ( select 'x' from records_staging rr where rr.description = r.description and rr.gtd = r.gtd and rr.cost_fact = r.cost_fact and r.ctid < rr.ctid );"  
##60293 rows affected in 11 m 33 s 247 ms

print(delete_duplicates)
cursor.execute(delete_duplicates)
connection.commit()
print("Done")

In [ ]:
%%time

sql_command = "truncate records_competitors RESTART IDENTITY CASCADE;\
create table if not exists records_competitors as table records_staging WITH NO DATA; \
insert into records_competitors select * from records_staging where recipient_code in (select competitor_code from competitors);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
# создание primary key в records_comprtitiors
sql_command = "alter table records_competitors drop constraint records_competitors_pkey;\
    alter table records_competitors ADD PRIMARY KEY (id); \
    create sequence if not exists records_competitors_id_seq; \
    alter table records_competitors alter column id set default nextval('public.records_competitors_id_seq'); \
    alter sequence records_competitors_id_seq owned by records_competitors.id;"; 
print(sql_command)
cursor.execute(sql_command)
connection.commit()
#create index records_competitors_sender_name_index on records_competitors (sender_name); \
sql_command = "create index records_competitors_recipient_name_index on records_competitors (recipient_name); \
                create index records_competitors_description_index on records_competitors (description); \
                create index records_competitors_gtd_index on records_competitors (gtd);"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
# создание primary key в records_staging
sql_command = "alter table "+dst_table_name+" add id bigserial not null;\
    alter table "+dst_table_name+" ADD PRIMARY KEY (id); \
    create sequence "+dst_table_name+"_id_seq; \
    alter table "+dst_table_name+" alter column id set default nextval('public."+dst_table_name+"_id_seq'); \
    alter sequence "+dst_table_name+"_id_seq owned by "+dst_table_name+".id;"; 
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
sql_command = "DROP TABLE IF EXISTS %s;"%tmp_table_name;
print(sql_command)

## UNCOMMENT ONLY WHEN ALL DONE
#cursor.execute(sql_command)
#connection.commit()

 NALOG STAGING PART
 =======

In [ ]:
sqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

Reestr part
------

In [ ]:
df_reestr = pd.read_sql('SELECT * FROM Реестр', con=dbConnection)

In [ ]:
df_reestr.columns

In [ ]:
df_reestr.rename(columns={'Iдентифікатор документа':'doc_id', 
                 'Регіон (Продавець)':'seller_region', 
                 'Район (Продавець)':'seller_rayon',
                 'Податковий номер (Продавець)':'seller_edrpou', 
                 'ІПН (Продавець)':'seller_ipn', 
                 'Найменування/ПІБ (Продавець)':'seller_name', 
                 'Стан (Продавець)':'seller_state', 
                 'Регіон (Покупець)':'buyer_region', 
                 'Район (Покупець)':'buyer_rayon', 
                 'Податковий номер (Покупець)':'buyer_edrpou', 
                 'ІПН (Покупець)':'buyer_ipn', 
                 'Найменування/ПІБ (Покупець)':'buyer_name', 
                 'Стан (Покупець)':'buyer_state', 
                 'Реєстр. номер у ЄРПН':'reestr_number', 
                 '№ ПН':'nn_number', 
                 'Дата виписки':'ordering_date', 
                 'Дата реєстрації':'registration_date',
                 'Загальна сума коштів що підлягає сплаті':'total_pay_cost', 
                 'Сума ПДВ':'pdv_summ', 
                 'Обсяг операцій за ставкою 20%':'20_percent_count', 
                 'Обсяг операцій за ставкою 7%':'7_percent_count', 
                 'Кількість РК':'rk_count', 
                 'Сума коригування':'correction_cost', 
                 'Ціна постач.одиниці РК':'one_rk_cost', 
                 'Номенклатура товарів/послуг':'product_name', 
                 'Код УКТЗЕД':'product_code', 
                 'Одиниця виміру товару/ послуги':'unit', 
                 'Кількість (об’єм , обсяг)':'count', 
                 'Ціна постачання одиниці товару/послуги без ПДВ':'one_product_cost',}, 
        inplace=True)

In [ ]:
reestr_table_name = 'reestr_staging'
sql_command = "DROP TABLE IF EXISTS %s;"%table_name;
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
df_reestr_nodup=df_reestr.drop_duplicates(subset=['seller_edrpou',
                                  'buyer_edrpou',
                                  'ordering_date',
                                  'product_name',
                                  'one_product_cost',
                                 'count']).reset_index()
print('Deleted duplicates:')
#print difference beetwen original dataframe and deduplicated
#pd.concat([df_reestr,df_reestr_nodup]).drop_duplicates(keep=False)
df_reestr_nodup=df_reestr_nodup.drop(columns=['ID','index'])
df_reestr_nodup['hash'] = df_reestr_nodup.apply(lambda x: hash(tuple(x)), axis = 1)
df_reestr_nodup

In [ ]:
print("Save data: to database table " + reestr_table_name)
df_reestr_nodup.to_sql(reestr_table_name, engine, if_exists='replace',index=False)

Credit part
-----

In [ ]:
df_credit = pd.read_sql('SELECT * FROM `credit`', con=dbConnection)

In [ ]:
df_credit.rename(columns={'Iдентифікатор документа':'doc_id', 
                 'Регіон (Продавець)':'seller_region', 
                 'Район (Продавець)':'seller_rayon',
                 'Податковий номер (Продавець)':'seller_edrpou', 
                 'ІПН (Продавець)':'seller_ipn', 
                 'Найменування/ПІБ (Продавець)':'seller_name', 
                 'Стан (Продавець)':'seller_state', 
                 'Регіон (Покупець)':'buyer_region', 
                 'Район (Покупець)':'buyer_rayon', 
                 'Податковий номер (Покупець)':'buyer_edrpou', 
                 'ІПН (Покупець)':'buyer_ipn', 
                 'Найменування/ПІБ (Покупець)':'buyer_name', 
                 'Стан (Покупець)':'buyer_state', 
                 'Реєстр. номер у ЄРПН':'reestr_number', 
                 '№ ПН':'nn_number', 
                 'Дата виписки':'ordering_date', 
                 'Дата реєстрації':'registration_date',
                 'Загальна сума коштів що підлягає сплаті':'total_pay_cost', 
                 'Сума ПДВ':'pdv_summ', 
                 'Обсяг операцій за ставкою 20%':'20_percent_count', 
                 'Обсяг операцій за ставкою 7%':'7_percent_count', 
                 'Кількість РК':'rk_count', 
                 'Сума коригування':'correction_cost', 
                 'Ціна постач.одиниці РК':'one_rk_cost', 
                 'Номенклатура товарів/послуг':'product_name', 
                 'Код УКТЗЕД':'product_code', 
                 'Одиниця виміру товару/ послуги':'unit', 
                 'Кількість (об’єм , обсяг)':'count', 
                 'Ціна постачання одиниці товару/послуги без ПДВ':'one_product_cost',}, 
        inplace=True)

In [ ]:
credit_table_name = 'credit_staging'
sql_command = "DROP TABLE IF EXISTS %s;"%table_name;
print(sql_command)
cursor.execute(sql_command)
connection.commit()

In [ ]:
df_credit_nodup=df_credit.drop_duplicates(subset=['seller_edrpou',
                                  'buyer_edrpou',
                                  'ordering_date',
                                  'product_name',
                                  'one_product_cost',
                                 'count']).reset_index()
print('Deleted duplicates:')
#print difference beetwen original dataframe and deduplicated
#pd.concat([df_credit,df_credit_nodup]).drop_duplicates(keep=False)
df_credit_nodup=df_credit_nodup.drop(columns=['index'])
df_credit_nodup['hash'] = df_credit_nodup.apply(lambda x: hash(tuple(x)), axis = 1)
#df_credit_nodup
print("Save data: to database table " + credit_table_name)
df_credit_nodup.to_sql(credit_table_name, engine, if_exists='replace',index=False)