In [1]:
import pandas as pd
import glob
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2 as pg
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas.io.sql as psql
import datetime as dt
import sys
import pymysql

# create engine for load data from pandas
engine = create_engine('postgresql://operator:Mimoza2019@192.168.55.55:5432/anamnez_gtd')
pgdbConnection    = engine.connect()

#connection to use with raw sql
connection = pg.connect("host='192.168.55.55' dbname=anamnez_gtd user=operator password='Mimoza2019'")
connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cursor = connection.cursor()

In [49]:
#  TRUNCATE ALL TABLES (uncomment)
#tables= ["gtd","records","nl_reestr","nl_credit","organisation","trademark","sender","country","exchange","tm_alias"]
tables= ["gtd","gtd_name","records","organisation","trademark","sender","country","exchange","tm_alias"]

for t in tables:
    sql_command = "TRUNCATE " + t + " RESTART IDENTITY CASCADE;"
    print(sql_command)
    print(cursor.execute(sql_command))
    print(connection.commit())

TRUNCATE gtd RESTART IDENTITY CASCADE;
None
None
TRUNCATE gtd_name RESTART IDENTITY CASCADE;
None
None
TRUNCATE records RESTART IDENTITY CASCADE;
None
None
TRUNCATE organisation RESTART IDENTITY CASCADE;
None
None
TRUNCATE trademark RESTART IDENTITY CASCADE;
None
None
TRUNCATE sender RESTART IDENTITY CASCADE;
None
None
TRUNCATE country RESTART IDENTITY CASCADE;
None
None
TRUNCATE exchange RESTART IDENTITY CASCADE;
None
None
TRUNCATE tm_alias RESTART IDENTITY CASCADE;
None
None

In [50]:
%%time
table_name = 'exchange'
mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
mydbConnection    = mysqlEngine.connect()
#sql_command = " TRUNCATE" + table_name + "_tmp RESTART IDENTITY CASCADE;"
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
df_exchange = pd.read_sql('SELECT cm.date,cf.`EUR-COM`,cf.`EUR-NBU`,cf.`USD-COM`,cf.`USD-NBU`,cm.mb_eur_buy AS `EUR-MB-BUY`,cm.mb_eur_sale AS `EUR-MB-SALE` FROM courses_mb AS cm LEFT JOIN courses_full AS cf ON cf.DATE=cm.date', con=mydbConnection)
print(max(df_exchange['date']))
df_exchange.drop_duplicates(inplace=True)
df_exchange.to_sql(table_name+"_tmp", engine, if_exists='replace',index=False) # commented cause wrong default column types
sql_command = " insert into " + table_name + " SELECT date,\"EUR-COM\",\"EUR-NBU\",\"USD-COM\",\"USD-NBU\",\"EUR-MB-BUY\",\"EUR-MB-SALE\" FROM "+table_name+"_tmp"
print(sql_command)
cursor.execute(sql_command)
connection.commit()

2020-08-16
 insert into exchange SELECT date,"EUR-COM","EUR-NBU","USD-COM","USD-NBU","EUR-MB-BUY","EUR-MB-SALE" FROM exchange_tmp
CPU times: user 208 ms, sys: 101 ms, total: 310 ms
Wall time: 825 ms

In [51]:
%%time
table_name = 'tm_alias'
mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
mydbConnection    = mysqlEngine.connect()
df_tmalias = pd.read_sql('select * from sender_trademark', con=mydbConnection)
df_tmalias.to_sql(table_name, engine, if_exists='replace',index=False)

CPU times: user 44.4 ms, sys: 1.85 ms, total: 46.3 ms
Wall time: 226 ms

In [52]:
%%time
# +
# Wall time: 1min 11s
table_name = 'country'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "insert into "+table_name+" (\"name\") select distinct upper(trim(country)) as country from records_staging where country IS NOT NULL ORDER BY country";
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE country RESTART IDENTITY CASCADE;
insert into country ("name") select distinct upper(trim(country)) as country from records_staging where country IS NOT NULL ORDER BY country
Done.
CPU times: user 4.74 ms, sys: 2.72 ms, total: 7.46 ms
Wall time: 25.1 s

In [53]:
%%time
# +
# Wall time: 1min 32s
table_name = 'sender'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + "(name,country_id) SELECT DISTINCT UPPER (TRIM (r.sender_name)) :: VARCHAR AS NAME,C.ID :: BIGINT AS country_id FROM records_staging r LEFT JOIN country C ON C.NAME=UPPER (TRIM (r.country)) WHERE r.sender_name IS NOT NULL ORDER BY NAME"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE sender RESTART IDENTITY CASCADE;
INSERT INTO sender(name,country_id) SELECT DISTINCT UPPER (TRIM (r.sender_name)) :: VARCHAR AS NAME,C.ID :: BIGINT AS country_id FROM records_staging r LEFT JOIN country C ON C.NAME=UPPER (TRIM (r.country)) WHERE r.sender_name IS NOT NULL ORDER BY NAME
Done.
CPU times: user 6.77 ms, sys: 3.73 ms, total: 10.5 ms
Wall time: 1min 7s

In [54]:
%%time
# +
# Wall time: 2min 40s
table_name = 'trademark'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO "+table_name+"(name) select distinct UPPER(TRIM(trademark))::varchar as \"name\" from records_staging as r WHERE length(trademark) > 1 ORDER BY \"name\""
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE trademark RESTART IDENTITY CASCADE;
INSERT INTO trademark(name) select distinct UPPER(TRIM(trademark))::varchar as "name" from records_staging as r WHERE length(trademark) > 1 ORDER BY "name"
Done.
CPU times: user 1.35 ms, sys: 4.91 ms, total: 6.25 ms
Wall time: 18.2 s

In [55]:
%%time
# +
# Wall time: 1min 2s

table_name = 'organisation' # and competitors 
mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
mydbConnection    = mysqlEngine.connect()
df_competitors = pd.read_sql('SELECT * FROM `competitors`', con=mydbConnection)
df_competitors.to_sql("competitors", engine, if_exists='replace',index=False)
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + "(name, edrpou, is_competitor) select distinct MIN(UPPER(TRIM(recipient_name)))::varchar as \"name\", recipient_code as edrpou, case when recipient_code in (SELECT competitor_code from competitors) then TRUE else FALSE end as is_competitor from records_staging WHERE length(recipient_name) > 1 AND recipient_code is not null group by recipient_code order by recipient_code"    
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE organisation RESTART IDENTITY CASCADE;
INSERT INTO organisation(name, edrpou, is_competitor) select distinct MIN(UPPER(TRIM(recipient_name)))::varchar as "name", recipient_code as edrpou, case when recipient_code in (SELECT competitor_code from competitors) then TRUE else FALSE end as is_competitor from records_staging WHERE length(recipient_name) > 1 AND recipient_code is not null group by recipient_code order by recipient_code
Done.
CPU times: user 46.2 ms, sys: 14.1 ms, total: 60.3 ms
Wall time: 41.9 s

In [56]:
%%time
# +
table_name = 'tnved_group'
mysqlEngine = create_engine('mysql+pymysql://operator:Mimoza2019@192.168.58.251/anamnez_gtd', pool_recycle=3600)
mydbConnection    = mysqlEngine.connect()
df_groupcodes = pd.read_sql('SELECT * FROM `groupcodes`', con=mydbConnection)
print(df_groupcodes.head())
df_groupcodes.to_sql(table_name, engine, if_exists='replace',index=False)
#sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#sql_command = "INSERT INTO " + table_name + "(gcodes,gname) select gcodes::integer,gname from "+table_name+"_tmp"    
#print(sql_command)
#cursor.execute(sql_command)
#connection.commit()
#print("Done.")

   id       gname    gcodes
0   1      Барное  85094000
1   1      Барное  84351000
2   1      Барное  84212100
3   2  Пицерийное  85141010
4   2  Пицерийное  84381010
CPU times: user 38.7 ms, sys: 14.6 ms, total: 53.3 ms
Wall time: 166 ms

In [57]:
%%time
# Wall time: 58.5 s
# +
table_name = 'gtd_name'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO  " + table_name + " (name) select distinct gtd as name from records_staging order by gtd"   
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE gtd_name RESTART IDENTITY CASCADE;
INSERT INTO  gtd_name (name) select distinct gtd as name from records_staging order by gtd
Done.
CPU times: user 4.11 ms, sys: 4.26 ms, total: 8.37 ms
Wall time: 57 s

In [2]:
%%time
# Wall time: 1h 9min 44s
# +
table_name = 'gtd'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (date,gtd_id,product_code,description,trademark_id,cost_fact,cost_customs) SELECT r.date as date,G.ID AS gtd_id,r.product_code AS product_code,r.description AS description,T.ID AS trademark_id,r.cost_fact AS cost_fact,r.cost_customs AS cost_customs FROM records_staging r LEFT JOIN gtd_name G ON r.gtd=G.NAME LEFT JOIN country C ON UPPER (TRIM (r.country))=C.NAME LEFT JOIN sender s ON UPPER (TRIM (r.sender_name))=s.NAME AND UPPER (TRIM (r.country))=C.NAME LEFT JOIN trademark T ON UPPER (TRIM (r.trademark))=T.NAME"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE gtd RESTART IDENTITY CASCADE;
INSERT INTO gtd (date,gtd_id,product_code,description,trademark_id,cost_fact,cost_customs) SELECT r.date as date,G.ID AS gtd_id,r.product_code AS product_code,r.description AS description,T.ID AS trademark_id,r.cost_fact AS cost_fact,r.cost_customs AS cost_customs FROM records_staging r LEFT JOIN gtd_name G ON r.gtd=G.NAME LEFT JOIN country C ON UPPER (TRIM (r.country))=C.NAME LEFT JOIN sender s ON UPPER (TRIM (r.sender_name))=s.NAME AND UPPER (TRIM (r.country))=C.NAME LEFT JOIN trademark T ON UPPER (TRIM (r.trademark))=T.NAME
Done.
CPU times: user 203 ms, sys: 98.9 ms, total: 302 ms
Wall time: 1h 25min 28s

In [59]:
%%time
# +
# Wall time: 21min 44s
table_name = 'records'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (sender_id,recipient_id,gtd_id) SELECT s.ID AS sender_id,o.ID AS recipient_id,G.ID AS gtd_id FROM records_staging r LEFT JOIN country C ON C.NAME=r.country LEFT JOIN sender s ON UPPER (TRIM (r.sender_name))=s.NAME AND UPPER (TRIM (r.country))=C.NAME LEFT JOIN organisation o ON r.recipient_code=o.edrpou LEFT JOIN gtd_name G ON UPPER (TRIM (r.gtd))=G.NAME GROUP BY sender_id,recipient_id,gtd_id"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

TRUNCATE records RESTART IDENTITY CASCADE;
INSERT INTO records (sender_id,recipient_id,gtd_id) SELECT s.ID AS sender_id,o.ID AS recipient_id,G.ID AS gtd_id FROM records_staging r LEFT JOIN country C ON C.NAME=r.country LEFT JOIN sender s ON UPPER (TRIM (r.sender_name))=s.NAME AND UPPER (TRIM (r.country))=C.NAME LEFT JOIN organisation o ON r.recipient_code=o.edrpou LEFT JOIN gtd_name G ON UPPER (TRIM (r.gtd))=G.NAME GROUP BY sender_id,recipient_id,gtd_id
Done.
CPU times: user 19.8 ms, sys: 19.4 ms, total: 39.3 ms
Wall time: 11min 35s

NALOG PART
--------

In [ ]:
%%time
table_name = 'nl_product'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (NAME) SELECT DISTINCT product_name AS NAME FROM (SELECT DISTINCT product_name FROM credit_staging UNION SELECT DISTINCT product_name FROM reestr_staging) AS p ORDER BY NAME"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
table_name = 'nl_org'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (edrpou,NAME) SELECT DISTINCT o.edrpou :: BIGINT AS edrpou,MIN (NAME) AS NAME FROM (SELECT DISTINCT seller_edrpou AS edrpou,seller_name AS NAME FROM credit_staging UNION SELECT DISTINCT seller_edrpou AS edrpou,seller_name AS NAME FROM reestr_staging UNION SELECT DISTINCT buyer_edrpou AS edrpou,buyer_name AS NAME FROM reestr_staging UNION SELECT DISTINCT buyer_edrpou AS edrpou,buyer_name AS NAME FROM credit_staging) AS o GROUP BY edrpou ORDER BY edrpou"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
table_name = 'nl_credit'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO " + table_name + " (doc_id,reestr_number,ordering_date,unit,one_product_cost,count,product_id,seller_id,buyer_id) SELECT s.doc_id :: BIGINT AS doc_id,s.reestr_number :: BIGINT AS reestr_number,s.ordering_date,s.unit,s.one_product_cost :: DOUBLE PRECISION AS one_product_cost,s.count:: DOUBLE PRECISION AS count,p.id AS product_id,os.id AS seller_id,ob.id AS buyer_id FROM credit_staging AS s LEFT JOIN nl_product AS p ON s.product_name=p.NAME LEFT JOIN nl_org AS os ON os.edrpou=s.seller_edrpou :: BIGINT LEFT JOIN nl_org AS ob ON ob.edrpou=s.buyer_edrpou :: BIGINT WHERE count not LIKE '%E%' ORDER BY ordering_date DESC"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")

In [ ]:
%%time
table_name = 'nl_reestr'
sql_command = "TRUNCATE " + table_name + " RESTART IDENTITY CASCADE;"
print(sql_command)
cursor.execute(sql_command)
connection.commit()
sql_command = "INSERT INTO nl_reestr (doc_id,reestr_number,ordering_date,unit,one_product_cost,count,product_id,seller_id,buyer_id) SELECT r.doc_id::BIGINT AS doc_id,r.reestr_number :: BIGINT AS reestr_number,r.ordering_date :: date,r.unit,r.one_product_cost :: DOUBLE PRECISION AS one_product_cost,r.count:: DOUBLE PRECISION AS count,p.id AS product_id,os.id AS seller_id,ob.id AS buyer_id FROM reestr_staging AS r LEFT JOIN nl_product AS p ON r.product_name=p.NAME LEFT JOIN nl_org AS os ON os.edrpou=r.seller_edrpou :: BIGINT LEFT JOIN nl_org AS ob ON ob.edrpou=r.buyer_edrpou :: BIGINT WHERE count not LIKE '%E%'"  
print(sql_command)
cursor.execute(sql_command)
connection.commit()
print("Done.")